<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :detail %><span class="must">必須</span><br/>
    <%= form.text_field :detail, :required => true, id: :question_detail, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :answer %><span class="must">必須</span><br/>
    <%= form.text_area :answer, :required => true, id: :question_answer, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
