<% provide(:title, "よくある質問") %>
<p id="notice"><%= notice %></p>

<h1>よくある質問一覧</h1>

<div class = "h2 mx-auto" style = "width: 250px; color: #faab05;">Q&A</div>

<% if current_admin.present? %>
  <div class="container">
    <div class = "row">
	<div class = "border col-sm-4">内容</div>
        <div class = "border col-sm-6">回答</div>
	<div class = "border col-sm-1"></div>
	<div class = "border col-sm-1"></div>
    </div>
    <% @questions.each do |question| %><%# よくある質問を全てeach %>
      <div class = "row"> 
	  <div class = "border col-sm-4"><%= question.detail %></div>
          <div class = "border col-sm-6"><%= question.answer %></div>
	  <div class = "border col-sm-1"><%= button_to '編集', edit_questions_path(question) %></div>
	  <div class = "border col-sm-1"><%= button_to '削除', question, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    <% end %>
  </div>
  <%= link_to 'よくある質問新規作成', new_question_path, class: "btn btn-info" %>
<% elsif !current_admin.present? %>
  <hr size = "2">
  <div class = "panel-group" id = "accordion">
    <% @questions.each do |question| %>
      <div class = "panel panel-default">
        <div class = "panel-heading" style = "margin-top: 0em;">
          <!--h2 class = "panel-title"-->
	    <a data-toggle =  "collapse" data-parent = "#accordion" href = "#collapse<%= question.id %>">
	      <div class = "question_large_box">
	        <span class = "h4 Q_figure" >Q</span>
		<div class = "question_detail_box">
		  <span class = "h6 question_detail_strings_red"><%= question.detail %></span>
		</div>
		<span class = "question_open_box">
		  <span class = "h6 open_figure">+ 開く</span>
	        </span>
	      </div>
            </a>
          <!--/h2-->
	</div>
      </div>
      <div id="collapse<%= question.id %>" class="panel-collapse collapse in">
	<div class = "panel-body" style = "margin: 0em;">
	  <div class = "answer_large_box ">
	    <span class = "h4 A_figure">A</span>
	    <div class = "question_answer_box">
              <span class = "h6 question_answer_strings "><%= question.answer %></span>
	    </div>
          </div>
	</div>
      </div>
    <% end %>
    <% @questions.each do |question| %>
      <div class = "panel panel-default">
        <div class = "panel-heading" style = "margin-top: 0em;">
          <!--h2 class = "panel-title"-->
	    <a data-toggle =  "collapse" data-parent = "#accordion" href = "#collapse<%= question.id %>">
	      <div class = "question_large_box">
	        <span class = "h4 Q_figure" >Q</span>
		<div class = "question_detail_box">
		  <span class = "h6 question_detail_strings_black"><%= question.detail %></span>
		</div>
		<span class = "question_open_box">
		  <span class = "h6 open_figure">+ 開く</span>
	        </span>
	      </div>
            </a>
          <!--/h2-->
	</div>
      </div>
      <div id="collapse<%= question.id %>" class="panel-collapse collapse in">
	<div class = "panel-body" style = "margin: 0em;">
	  <div class = "answer_large_box ">
	    <span class = "h4 A_figure">A</span>
	    <div class = "question_answer_box">
              <span class = "h6 question_answer_strings "><%= question.answer %></span>
	    </div>
          </div>
	</div>
      </div>
    <% end %>
    <% @questions.each do |question| %>
      <div class = "panel panel-default">
        <div class = "panel-heading" style = "margin-top: 0em;">
          <!--h2 class = "panel-title"-->
	    <a data-toggle =  "collapse" data-parent = "#accordion" href = "#collapse<%= question.id %>">
	      <div class = "question_large_box">
	        <span class = "h4 Q_figure" >Q</span>
		<div class = "question_detail_box">
		  <span class = "h6 question_detail_strings_gray"><%= question.detail %></span>
		</div>
		<span class = "question_open_box">
		  <span class = "h6 open_figure">+ 開く</span>
	        </span>
	      </div>
            </a>
          <!--/h2-->
	</div>
      </div>
      <div id="collapse<%= question.id %>" class="panel-collapse collapse in">
	<div class = "panel-body" style = "margin: 0em;">
	  <div class = "answer_large_box ">
	    <span class = "h4 A_figure">A</span>
	    <div class = "question_answer_box">
              <span class = "h6 question_answer_strings "><%= question.answer %></span>
	    </div>
          </div>
	</div>
      </div>
    <% end %>
  </div>
<% end %>

