<% provide(:title, "よくある質問") %>
<p id="notice"><%= notice %></p>

<div class="h2 mx-auto" style="width: 250px; color: #faab05;">Q&A</div>

<% if current_admin.present? %>
  <table class="table table-bordered">
    <thead>
      <tr class="row">
	<td class="col-sm-4">内容</td>
        <td class="col-sm-6">回答</td>
	<td class="col-sm-1"></td>
	<td class="col-sm-1"></td>
      </tr>
    </thead>
    <tbody>
      <% @questions.each do |question| %><%# よくある質問を全てeach %>
	<tr class="row"> 
	  <td class="col-sm-4"><%= link_to "#{question.detail}", questions_path %></td>
          <td class="col-sm-6"><%= link_to "#{question.answer}", questions_path %></td>
	  <td class="col-sm-1"><%= button_to '編集', edit_question_path(question) %></td>
	  <td class="col-sm-1"><%= button_to '削除', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'よくある質問新規作成', new_question_path, class: "btn btn-info" %>
<% elsif !current_admin.present? %>
  <hr size="2">
  <div class="panel-group" id="accordion">
    <% @questions.each do |question| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <!--h2 class="panel-title"-->
	    <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= question.id %>">
	      <div>
	        <span class = "h4 text-danger">Q. </span><span class = "h6 text-dark border-bottom border-dark"><%= question.detail %></span>
	      </div>
            </a>
          <!--/h2-->
	</div>
      </div>
      <div id="collapse<%= question.id %>" class="panel-collapse collapse in">
	<div class="panel-body">
	  <!--h2-->
            <span class = "h4 text-primary mx-3">A. </span><span class = "h6 text-dark"><%= question.answer %></span>
	  <!--/h2-->
	</div>
      </div>
    <% end %>
  </div>
<% end %>

