<% provide(:title, "よくある質問") %>
<p id="notice"><%= notice %></p>

<div class="h2 mx-auto" style="width: 250px; color: #faab05;">Q&A</div>

<% if current_admin.present? %>
  <table class="table table-bordered">
    <thead>
      <tr class="row">
	<td class="col-sm-4">内容</td>
        <td class="col-sm-6">回答</td>
	<td class="col-sm-1"></td>
	<td class="col-sm-1"></td>
      </tr>
    </thead>
    <tbody>
      <% @questions.each do |question| %><%# よくある質問を全てeach %>
	<tr class="row"> 
	  <td class="col-sm-4"><%= link_to "#{question.detail}", questions_path %></td>
          <td class="col-sm-6"><%= link_to "#{question.answer}", questions_path %></td>
	  <td class="col-sm-1"><%= button_to '編集', edit_question_path(question) %></td>
	  <td class="col-sm-1"><%= button_to '削除', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'よくある質問新規作成', new_question_path, class: "btn btn-info" %>
<% elsif !current_admin.present? %>
  <hr size="2">
  <div class="panel-group" id="accordion">
    <% @questions.each do |question| %>
      <div class="panel panel-default">
        <div class="panel-heading" style="margin-top: 0em;">
          <!--h2 class="panel-title"-->
	    <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= question.id %>">
	      <div style="width: 1000px; background: #f0f0f0; padding: 0.5em 0em; margin: 0em 0; margin-top : 0px;">
	        <span class = "h4" style = "padding: 0em 0.3em; margin: 2em 0; font-weight: bold; color: #FFF;/*文字色*/ background: #FF72D0; border-radius: 5px;/*角の丸み*/">Q</span><span class = "h6" style = "padding: 0.5em 1em; margin: 2em 0; margin-top : 10px; color: #FF72D0; background: #f0f0f0; "><%= question.detail %></span>
	      </div>
            </a>
          <!--/h2-->
	</div>
      </div>
      <div id="collapse<%= question.id %>" class="panel-collapse collapse in">
	<div class="panel-body" style="margin-top: 1em;"> 
	  <!--h2-->
            <span class = "h4 mx-3" style = "padding: 0em 0.3em; margin: 1em 0; font-weight: bold; color: #FFF;/*文字色*/ background: #00CCFF; border-radius: 5px;/*角の丸み*/">A</span><span class = "h6" style = "color: #00CCFF;  margin: 1em 0;"><%= question.answer %></span>
	  <!--/h2-->
	</div>
      </div>
    <% end %>
  </div>
<% end %>

