<% provide(:title, "よくある質問詳細") %>
<p id="notice"><%= notice %></p>

<h1 class="show-title">よくある質問詳細</h1>
<div class="container">
  <div class="row" >
    <div class="border col-md-3">内容：</div>
    <div class ="border col-md-9"> <%= @question.detail %></div>
  </div>
  <div class="row">
    <div class="border col-md-3">回答：</div>
    <div class ="border col-md-9"><%= @question.answer %></div>
  </div>
</div>
<div class="user-show-btn">
  <%= link_to questions_path, class: "btn btn--blue btn-md btn--shadow" do %>
    <i class="fas fa-reply"> 戻る</i>
  <% end %>
  <%= link_to "編集", edit_questions_path(@question), class: "btn btn--blue btn-md btn--shadow" %>
</div>
<%= link_to '編集', edit_questions_path(@question) %> |
<%= link_to 'よくある質問一覧', questions_path %>
