<% provide(:title, "Top") %>

<p id="notice"><%= notice %></p>

<div class="top-bg">
 <div class="container my-5 p-5 z-depth-1">
  <section class="dark-grey-text">
    <h1 class="text-center font-weight-bold mb-4 pb-2">巡グルメで始めるサブスクランチ</h1>
    <p class="text-center lead grey-text mx-auto mb-5">好きなランチを好きな場所で毎日食べ歩こう。</p>

    <div class="row">

      <div class="col-lg-8 text-center text-lg-left">
        <%= video_tag("/videos/production ID_3977086 (3).mp4", autoplay: :true, loop: :true, muted: :true, width: "650vw", height: "500vh", class: 'video-content') %>
      </div>

       <div class="col-lg-4">

        <div class="row mb-3">
          <div class="col-1">
            <i class="fa fa-check-circle fa-2x"></i>
          </div>
          <div class="col-xl-10 col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">サブスクで</h5>
            <p class="grey-text">サンプルコメント サンプルコメント サンプルコメント サンプルコメント サンプルコメントサンプルコメント サンプルコメント サンプルコメント サンプルコメント サンプルコメント</p>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-1">
            <i class="fa fa-check-circle fa-2x"></i>
          </div>
          <div class="col-xl-10 col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">毎日好きなランチを</h5>
            <p class="grey-text">サンプルコメント サンプルコメント サンプルコメント サンプルコメント サンプルコメントサンプルコメント サンプルコメント サンプルコメント サンプルコメント サンプルコメント</p>
          </div>
        </div>

        <div class="row">
          <div class="col-1">
            <i class="fa fa-check-circle fa-2x"></i>
          </div>
          <div class="col-xl-10 col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">1980円から始める</h5>
            <p class="grey-text mb-0">サンプルコメント サンプルコメント サンプルコメント サンプルコメント サンプルコメントサンプルコメント サンプルコメント サンプルコメント サンプルコメント サンプルコメント</p>
          </div>
        </div>

      </div>
    </div>
  </section>
 </div>
</div>

<h1><%= link_to "まずはご相談ください", static_pages_discussion_path, class: "btn btn-lg btn-info" %></h1>
<main class="scroll-container">
  <% if signed_in? %> <%# ログインしているかどうか %>
    <% if current_owner.present? %> <%# オーナーでログインしているかどうか %>
      <h1 id="home">ホーム</h1></br>
      <h1 id="category"><%= link_to "カテゴリ", categories_path, class: "btn btn-lg btn-default" %></h1></br>
      <h1 id="plan">プラン</h1></br>
      <h1 id="recommend">おすすめ店舗</h1></br>
      <h1 id="interview"><%= link_to "オーナーインタビュー", interviews_path, class: "btn btn-lg btn-default" %></h1></br>
        <% @interviews.each do |interview| %><%# オーナーインタビューを全てeach %>
          <hr class="tool-bar">
          <div class="row">
            <div class="col-sm-3">
              <div class="grid-item-image"><%= image_tag interview.image_interview.thumb.url %></div>
                <%= link_to "#{interview.owner_name}", interview_path(interview) %></br>
                <%= link_to "#{interview.shop_name}", interview_path(interview) %></br>
                <%= link_to "#{interview.content}", interview_path(interview) %>
            </div>
          </div>
        <% end %>
      <h1 id="service">サービス</h1></br>
      <h1 id="inquiry"><%= link_to "お問い合わせ", contacts_path, class: "btn btn-lg btn-default" %></h1>
      <h1><%= link_to "サブスクnews", blogs_path %></h1>
        <% @blogs.each do |blog| %><%# サブスクnewsを全てeach %>
         <hr class="tool-bar">
          <div class="row">
            <div class="col-md-offset-3 col-sm-6">
              <%= link_to "#{blog.title}", blog_path(blog) %>
            </div><br>
            <div class="col-md-offset-8 col-sm-6">
              <%= link_to "#{blog.body}", blog_path(blog) %>
            </div>
          </div>
        <% end %>
      <h1><%= link_to "よくある質問", questions_path %></h1>
        <% @questions.each do |question| %><%# よくある質問を全てeach %>
          <hr class="tool-bar">
          <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
                <%= link_to "#{question.detail}", questions_path %>
            </div><br>
            <div class="col-sm-offset-8 col-sm-6">
                <%= link_to "#{question.answer}", questions_path %>
            </div>
          </div>
        <% end %>
    <% elsif current_user.present? %> <%# 会員ユーザーでログインしているかどうか %>
      <h1 id="home">ホーム</h1></br>
      <h1 id="category"><%= link_to "カテゴリ", categories_path, class: "btn btn-lg btn-default" %></h1></br>
      <h1 id="plan">プラン</h1></br>
      <h1 id="recommend">おすすめ店舗</h1></br>
      <h1 id="interview"><%= link_to "オーナーインタビュー", interviews_path, class: "btn btn-lg btn-default" %></h1></br>
        <% @interviews.each do |interview| %><%# オーナーインタビューを全てeach %>
          <hr class="tool-bar">
          <div class="row">
            <div class="col-sm-3">
              <div class="grid-item-image"><%= image_tag interview.image_interview.thumb.url %></div>
                <%= link_to "#{interview.owner_name}", interview_path(interview) %></br>
                <%= link_to "#{interview.shop_name}", interview_path(interview) %></br>
                <%= link_to "#{interview.content}", interview_path(interview) %>
            </div>
          </div>
        <% end %>
      <h1 id="service">サービス</h1></br>
      <h1 id="inquiry"><%= link_to "お問い合わせ", contacts_path, class: "btn btn-lg btn-default" %></h1>
      <h1><%= link_to "サブスクnews", blogs_path %></h1>
        <% @blogs.each do |blog| %><%# サブスクnewsを全てeach %>
         <hr class="tool-bar">
          <div class="row">
            <div class="col-md-offset-3 col-sm-6">
              <%= link_to "#{blog.title}", blog_path(blog) %>
            </div><br>
            <div class="col-md-offset-8 col-sm-6">
              <%= link_to "#{blog.body}", blog_path(blog) %>
            </div>
          </div>
        <% end %>
      <h1><%= link_to "よくある質問", questions_path %></h1>
        <% @questions.each do |question| %><%# よくある質問を全てeach %>
          <hr class="tool-bar">
          <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
                <%= link_to "#{question.detail}", questions_path %>
            </div><br>
            <div class="col-sm-offset-8 col-sm-6">
                <%= link_to "#{question.answer}", questions_path %>
            </div>
          </div>
        <% end %>
    <% elsif current_admin.present? %> <%# 管理者でログインしているかどうか %>
      <h1 id="home">ホーム</h1></br>
      <h1 id="category"><%= link_to "カテゴリ", categories_path, class: "btn btn-lg btn-default" %></h1></br>
      <h1 id="plan">プラン</h1></br>
      <h1 id="recommend">おすすめ店舗</h1></br>
      <h1 id="interview"><%= link_to "オーナーインタビュー", interviews_path, class: "btn btn-lg btn-default" %></h1></br>
        <% @interviews.each do |interview| %><%# オーナーインタビューを全てeach %>
          <hr class="tool-bar">
          <div class="row">
            <div class="col-sm-3">
              <div class="grid-item-image"><%= image_tag interview.image_interview.thumb.url %></div>
                <%= link_to "#{interview.owner_name}", interview_path(interview) %></br>
                <%= link_to "#{interview.shop_name}", interview_path(interview) %></br>
                <%= link_to "#{interview.content}", interview_path(interview) %>
            </div>
          </div>
        <% end %>
      <h1 id="service">サービス</h1></br>
      <h1 id="inquiry"><%= link_to "お問い合わせ", contacts_path, class: "btn btn-lg btn-default" %></h1>
      <h1><%= link_to "サブスクnews", blogs_path %></h1>
        <% @blogs.each do |blog| %><%# サブスクnewsを全てeach %>
         <hr class="tool-bar">
          <div class="row">
            <div class="col-md-offset-3 col-sm-6">
              <%= link_to "#{blog.title}", blog_path(blog) %>
            </div><br>
            <div class="col-md-offset-8 col-sm-6">
              <%= link_to "#{blog.body}", blog_path(blog) %>
            </div>
          </div>
        <% end %>
      <h1><%= link_to "よくある質問", questions_path %></h1>
        <% @questions.each do |question| %><%# よくある質問を全てeach %>
          <hr class="tool-bar">
          <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
                <%= link_to "#{question.detail}", questions_path %>
            </div><br>
            <div class="col-sm-offset-8 col-sm-6">
                <%= link_to "#{question.answer}", questions_path %>
            </div>
          </div>
        <% end %>
    <% end %>
  <% else %> <%# ログインしてない %>
      <%= form_tag(search_categories_path, :method => 'get') do %>
        <%= text_field_tag :search , "",placeholder: "キーワードからカテゴリーを検索しますか？" %><%= submit_tag '検索', :name => nil %>
      <% end %>
        <% @categories.each do |category| %><%# カテゴリーを全てeach %>
          <div class="row">
            <div class="col-7">
              <h6 class="font-weight-bold pt-2">
                  <%= link_to "#{category.name}", like_lunch_category_path(category.id) %>
              </h6>
            </div>
          </div>
        <% end %>
    <h1 id="category"><%= link_to "カテゴリ", categories_path, class: "btn btn-lg btn-default" %></h1></br>
    <p class="text-center lead mb-5 pb-2 text-muted">気になるカテゴリーを選択して下さい。</p>
    <div class="row">
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="row d-flex align-items-center">
          <div
            class="col-5 avatar w-100 white d-flex justify-content-center align-items-center"
          >
            <img
              src="https://media.gettyimages.com/photos/cup-of-latte-on-wooden-table-picture-id1035061554?k=6&m=1035061554&s=612x612&w=0&h=R5v_cne68naf73GAyFhFq54aUiD5hMd5x6lh_KQ_c0g="
              class="img-fluid rounded-circle z-depth-1"
              Style="height: 100px"
            />
          </div>
          <div class="col-7">
            <h6 class="font-weight-bold pt-2">
              <%= link_to "カフェ", cake_categories_path %>
            </h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="row d-flex align-items-center">
          <div
            class="col-5 avatar w-100 white d-flex justify-content-center align-items-center"
          >
            <img
              src="https://cdn.pixabay.com/photo/2018/03/15/10/33/bars-ramen-in-saigon-3227779__480.jpg"
              class="img-fluid rounded-circle z-depth-1"
              Style="height: 100px"
            />
          </div>
          <div class="col-7">
            <h6 class="font-weight-bold pt-2">
              <%= link_to "らーめん", ramen_categories_path %>
            </h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="row d-flex align-items-center">
          <div
            class="col-5 avatar w-100 white d-flex justify-content-center align-items-center"
          >
            <img
              src="https://cdn.pixabay.com/photo/2017/04/26/11/03/bread-2262333__480.jpg"
              class="img-fluid rounded-circle z-depth-1"
              Style="height: 100px"
            />
          </div>
          <div class="col-7">
            <h6 class="font-weight-bold pt-2">
              <%= link_to "パン屋", pan_categories_path %>
            </h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="row d-flex align-items-center">
          <div
            class="col-5 avatar w-100 white d-flex justify-content-center align-items-center"
          >
            <img
              src="https://media.istockphoto.com/photos/curry-rice-on-the-table-picture-id1066427100?b=1&k=6&m=1066427100&s=170667a&w=0&h=afrJvnBbrXqxUZMwtkJUeMbqenBy5YyaajWa2j-UsBk="
              class="img-fluid rounded-circle z-depth-1"
              Style="height: 100px"
            />
          </div>
          <div class="col-7">
            <h6 class="font-weight-bold pt-2">
              <%= link_to "カレー", curry_categories_path %>
            </h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="row d-flex align-items-center">
          <div
            class="col-5 avatar w-100 white d-flex justify-content-center align-items-center"
          >
            <img
              src="https://media.gettyimages.com/photos/bar-picture-id183760198?k=6&m=183760198&s=612x612&w=0&h=w2Yn7MIx2H_VWiV8A4RUrqB_FJsYwgs9hSE4W8WCB4o="
              class="img-fluid rounded-circle z-depth-1"
              Style="height: 100px"
            />
          </div>
          <div class="col-7">
            <h6 class="font-weight-bold pt-2">
              <%= link_to "BAR", bar_categories_path %>
            </h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="row d-flex align-items-center">
          <div
            class="col-5 avatar w-100 white d-flex justify-content-center align-items-center"
          >
            <img
              src="https://cdn.pixabay.com/photo/2018/05/01/18/21/eclair-3366430__480.jpg"
              class="img-fluid rounded-circle z-depth-1"
              Style="height: 100px"
            />
          </div>
          <div class="col-7">
            <h6 class="font-weight-bold pt-2">
              <%= link_to "ケーキ", cake_categories_path %>
            </h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="row d-flex align-items-center">
          <div
            class="col-5 avatar w-100 white d-flex justify-content-center align-items-center"
          >
            <img
              src="https://media.istockphoto.com/photos/top-view-of-premium-rare-slices-many-parts-of-wagyu-a5-beef-with-on-picture-id1169410279?b=1&k=6&m=1169410279&s=170667a&w=0&h=CiQvMWUK7x73uERbummOpcLLwGYPt1W9Xi2VahlrYhE="
              class="img-fluid rounded-circle z-depth-1"
              Style="height: 100px"
            />
          </div>
          <div class="col-7">
            <h6 class="font-weight-bold pt-2">
              <%= link_to "焼肉", yakiniku_categories_path %>
            </h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="row d-flex align-items-center">
          <div
            class="col-5 avatar w-100 white d-flex justify-content-center align-items-center"
          >
            <img
              src="https://media.istockphoto.com/photos/traditional-japanese-cuisine-picture-id1179688514?b=1&k=6&m=1179688514&s=170667a&w=0&h=BQPXTUoypII1Vkt7YdZph43vE1GvRIoVU-06r5FpUB4="
              class="img-fluid rounded-circle z-depth-1"
              Style="height: 100px"
            />
          </div>
          <div class="col-7">
            <h6 class="font-weight-bold pt-2">
              <%= link_to "定食屋", teishoku_categories_path %>
            </h6>
          </div>
        </div>
      </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="row d-flex align-items-center">
          <div
            class="col-5 avatar w-100 white d-flex justify-content-center align-items-center"
          >
            <img
              src="https://media.gettyimages.com/photos/eating-tasty-food-favorite-meal-picture-id931464590?k=6&m=931464590&s=612x612&w=0&h=nqB6QF0fsmtiYAgb2rmBRixQowzXHe42KWSqMeIUB7g="
              class="img-fluid rounded-circle z-depth-1"
              Style="height: 100px"
            />
          </div>
          <div class="col-7">
            <h6 class="font-weight-bold pt-2">
              <%= link_to "その他", other_categories_path %>
            </h6>
          </div>
        </div>
      </div>
    <h1 id="plan"><%= link_to "プラン", "#", class: "btn btn-lg btn-default" %></h1></br>
    <h1 id="recommend"><%= link_to "おすすめ店舗", recommend_categories_path, class: "btn btn-lg btn-default" %></h1></br>
      <h1 id="interview"><%= link_to "オーナーインタビュー", interviews_path, class: "btn btn-lg btn-default" %></h1></br>
        <% @interviews.each do |interview| %><%# オーナーインタビューを全てeach %>
          <hr class="tool-bar">
          <div class="row">
            <div class="col-sm-3">
              <div class="grid-item-image"><%= image_tag interview.image_interview.thumb.url %></div>
                <%= link_to "#{interview.owner_name}", interview_path(interview) %></br>
                <%= link_to "#{interview.shop_name}", interview_path(interview) %></br>
                <%= link_to "#{interview.content}", interview_path(interview) %>
            </div>
          </div>
        <% end %>
    <h1 id="service"><%= link_to "サービス", "#", class: "btn btn-lg btn-default" %></h1></br>
    <h1 id="inquiry"><%= link_to "お問い合わせ", contacts_path, class: "btn btn-lg btn-default" %></h1>
    <h1 id="inquiry"><%= link_to "サポート", suports_path, class: "btn btn-lg btn-default" %></h1>
    <h1><%= link_to "サブスクnews", blogs_path %></h1>
        <% @blogs.each do |blog| %><%# サブスクnewsを全てeach %>
        <hr class="tool-bar">
          <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
              <%= link_to "#{blog.title}", blog_path(blog) %>
            </div><br>
            <div class="col-sm-offset-8 col-sm-6">
              <%= link_to "#{blog.body}", blog_path(blog) %>
            </div>
          </div>
        <% end %>
    <h1><%= link_to "よくある質問", questions_path %></h1>
        <% @questions.each do |question| %><%# よくある質問を全てeach %>
          <hr class="tool-bar">
          <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
                <%= link_to "#{question.detail}", questions_path %>
            </div><br>
            <div class="col-sm-offset-8 col-sm-6">
                <%= link_to "#{question.answer}", questions_path %>
            </div>
          </div>
        <% end %>
  <% end %>
</main>
