<% provide(:title, "Top") %>
<hr class="border-solid" />
<%
=begin%>
 <p id="notice"><%= notice %></p>
<% if signed_in? %> <%# ログインしているかどうか %>
  <% if current_user.present? %>
    <p>ようこそ！<%= current_user.name %>さん</p>
  <% elsif current_owner.present? %>
    <p>ようこそ！<%= current_owner.name %>さん</p>
  <% elsif current_admin.present? %>
    <p>ようこそ！<%= current_admin.name %>さん</p>
  <% end %>
<% else %>
  <p>ようこそ！ゲストさん</p>
<% end %> 
<%
=end%>

  <div class="f-container">
    <div class="f-item">
      <div class="box26">
        <span class="box-title">&nbsp;<i class="fas fa-store fa-lg"></i>&nbsp;サブスクで</span>
          <div class="comment-text">月額定額料金を支払うことで、特定の店で食事ができるサービスです。複数ある加盟店で広く利用でき、割安で食事が楽しめるというメリットがあります。</div>
      </div>
    </div>
    <div class="f-item">
      <div class="box26">
        <span class="box-title">&nbsp;<i class="fas fa-utensils fa-lg"></i>&nbsp;毎日好きなランチを</span>
          <div class="comment-text">サンプルコメント サンプルコメント サンプルコメント サンプルコメント サンプルコメントサンプルコメント サンプルコメント サンプルコメント サンプルコメント サンプルコメント</div>
      </div>
    </div>
    <div class="f-item">
      <div class="box26">
        <span class="box-title">&nbsp;<i class="far fa-credit-card fa-lg"></i>&nbsp;3000円から始める</span>
          <div class="comment-text">サンプルコメント サンプルコメント サンプルコメント サンプルコメント サンプルコメントサンプルコメント サンプルコメント サンプルコメント サンプルコメント サンプルコメント</div>
      </div>
    </div>
  </div>
  <hr class="border-solid-down" />


<main class="scroll-container">
  <% if signed_in? %> <%# ログインしているかどうか %>
    <% if current_owner.present? %> <%# オーナーでログインしているかどうか %>
    <h1 id="category"><p class="top-category lead mb-5 pb-2 text-muted">気になる<%= link_to "カテゴリ", categories_path, class: "btn btn-lg btn-link" %>を選択して下さい。</p></h1>
      <%= form_with(model: @category, method: :get, local: true) do |f| %>
        <%= f.collection_select(:search, @categories_name, :name, :name, {include_blank: "キーワードからカテゴリーを検索してみよう", class: "form-control"}) %>
      <!--%= text_field_tag :search, "",placeholder: "キーワードからカテゴリーを検索してみよう" %--><%= submit_tag '検索', :name => nil %>
      <% end %>
        <div class="row">
          <% @categories.each do |category| %><%# カテゴリーを全てeach %>
            <% if category.image_category.present? && category.name.present? %>
              <div class="col-lg-4 col-sm-6 mb-5">
                <div class="row d-flex align-items-center">
                  <div class="col-5 avatar w-100 white d-flex justify-content-center align-items-center">
                      <%= image_tag category.image_category, class: "img-fluid rounded-circle z-depth-1", Style: "height: 100px" %>
                  </div>
                  <div class="col-7">
                    <h6 class="font-weight-bold pt-2">
                        <%= link_to "#{category.name}", like_lunch_category_path(category.id) %>
                    </h6>
                  </div>
                </div>
              </div>
            <% else %>
              <h1>見つかりません</h1>
            <% end %>
          <% end %>
        </div>
      <h1 id="category"><%= link_to "カテゴリ", categories_path, class: "btn btn-lg btn-default" %></h1></br>
      <h1 id="plan">プラン</h1></br>
      <h1 id="recommend"><%= link_to "おすすめ店舗", recommend_categories_path, class: "btn btn-lg btn-default" %></h1></br>
      <h1 id="interview"><%= link_to "オーナーインタビュー", interviews_path, class: "btn btn-lg btn-default" %></h1></br>
        <% @interviews.each do |interview| %><%# オーナーインタビューを全てeach %>
          <hr class="tool-bar">
          <div class="row">
            <div class="col-sm-3">
              <div class="grid-item-image"><%= image_tag interview.image_interview.thumb.url %></div>
                <%= link_to "#{interview.owner_name}", interview_path(interview) %></br>
                <%= link_to "#{interview.shop_name}", interview_path(interview) %></br>
                <%= link_to "#{interview.content}", interview_path(interview) %>
            </div>
          </div>
        <% end %>
      <h1 id="service">サービス</h1></br>
      <h1 id="inquiry"><%= link_to "お問い合わせ", contacts_path, class: "btn btn-lg btn-default" %></h1>
      <h1><%= link_to "サブスクnews", blogs_path %></h1>
        <% @blogs.each do |blog| %><%# サブスクnewsを全てeach %>
         <hr class="tool-bar">
          <div class="row">
            <div class="col-md-offset-3 col-sm-6">
              <%= link_to "#{blog.title}", blog_path(blog) %>
            </div><br>
            <div class="col-md-offset-8 col-sm-6">
              <%= link_to "#{blog.body}", blog_path(blog) %>
            </div>
          </div>
        <% end %>
      <h1><%= link_to "よくある質問", questions_path %></h1>
        <% @questions.each do |question| %><%# よくある質問を全てeach %>
          <hr class="tool-bar">
          <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
                <%= link_to "#{question.detail}", questions_path %>
            </div><br>
            <div class="col-sm-offset-8 col-sm-6">
                <%= link_to "#{question.answer}", questions_path %>
            </div>
          </div>
        <% end %>
    <% elsif current_user.present? %> <%# 会員ユーザーでログインしているかどうか %>
      <h1 id="category"><p class="text-category lead mb-5 pb-2 text-muted">気になる<%= link_to "カテゴリ", categories_path, class: "btn btn-lg btn-link" %>を選択して下さい。</p></h1>
      <%= form_with(model: @category, method: :get, local: true) do |f| %>
        <%= f.collection_select(:search, @categories_name, :name, :name, {include_blank: "キーワードからカテゴリーを検索してみよう", class: "form-control"}) %>
      <!--%= text_field_tag :search, "",placeholder: "キーワードからカテゴリーを検索してみよう" %--><%= submit_tag '検索', :name => nil %>
      <% end %>
        <div class="row">
          <% @categories.each do |category| %><%# カテゴリーを全てeach %>
            <% if category.image_category.present? && category.name.present? %>
              <div class="col-lg-4 col-sm-6 mb-5">
                <div class="row d-flex align-items-center">
                  <div class="col-5 avatar w-100 white d-flex justify-content-center align-items-center">
                      <%= image_tag category.image_category, class: "img-fluid rounded-circle z-depth-1", Style: "height: 100px" %>
                  </div>
                  <div class="col-7">
                    <h6 class="font-weight-bold pt-2">
                        <%= link_to "#{category.name}", like_lunch_category_path(category.id) %>
                    </h6>
                  </div>
                </div>
              </div>
            <% elsif category.image_category.nil? && category.name.nil? %>
              <h1>見つかりません</h1>
            <% end %>
          <% end %>
        </div>
      <h1 id="plan"><%= link_to "プラン", user_plans_path(current_user.id), class: "btn btn-lg btn-default" %></h1></br>
      <h1 id="recommend"><%= link_to "おすすめ店舗", recommend_categories_path, class: "btn btn-lg btn-default" %></h1></br>
      <h1 id="interview"><%= link_to "オーナーインタビュー", interviews_path, class: "btn btn-lg btn-default" %></h1></br>
        <% @interviews.each do |interview| %><%# オーナーインタビューを全てeach %>
          <hr class="tool-bar">
          <div class="row">
            <div class="col-sm-3">
              <div class="grid-item-image"><%= image_tag interview.image_interview.thumb.url %></div>
                <%= link_to "#{interview.owner_name}", interview_path(interview) %></br>
                <%= link_to "#{interview.shop_name}", interview_path(interview) %></br>
                <%= link_to "#{interview.content}", interview_path(interview) %>
            </div>
          </div>
        <% end %>
      <h1 id="service">サービス</h1></br>
      <h1 id="inquiry"><%= link_to "お問い合わせ", contacts_path, class: "btn btn-lg btn-default" %></h1>
      <h1><%= link_to "サブスクnews", blogs_path %></h1>
        <% @blogs.each do |blog| %><%# サブスクnewsを全てeach %>
         <hr class="tool-bar">
          <div class="row">
            <div class="col-md-offset-3 col-sm-6">
              <%= link_to "#{blog.title}", blog_path(blog) %>
            </div><br>
            <div class="col-md-offset-8 col-sm-6">
              <%= link_to "#{blog.body}", blog_path(blog) %>
            </div>
          </div>
        <% end %>
        <h1><%= link_to "よくある質問", questions_path %></h1>
        <% @questions.each do |question| %><%# よくある質問を全てeach %>
          <hr class="tool-bar">
          <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
                <%= link_to "#{question.detail}", questions_path %>
            </div><br>
            <div class="col-sm-offset-8 col-sm-6">
                <%= link_to "#{question.answer}", questions_path %>
            </div>
          </div>
        <% end %>
    <% elsif current_admin.present? %> <%# 管理者でログインしているかどうか %>
    <h1 id="category"><p class="text-category lead mb-5 pb-2 text-muted">気になる<%= link_to "カテゴリ", categories_path, class: "btn btn-lg btn-link" %>を選択して下さい。</p></h1>
      <%= form_with(model: @category, method: :get, local: true) do |f| %>
        <%= f.collection_select(:search, @categories_name, :name, :name, {include_blank: "キーワードからカテゴリーを検索してみよう", class: "form-control"}) %>
      <!--%= text_field_tag :search, "",placeholder: "キーワードからカテゴリーを検索してみよう" %--><%= submit_tag '検索', :name => nil %>
      <% end %>
        <div class="row">
          <% @categories.each do |category| %><%# カテゴリーを全てeach %>
            <% if category.image_category.present? && category.name.present? %>
              <div class="col-lg-4 col-sm-6 mb-5">
                <div class="row d-flex align-items-center">
                  <div class="col-5 avatar w-100 white d-flex justify-content-center align-items-center">
                      <%= image_tag category.image_category, class: "img-fluid rounded-circle z-depth-1", Style: "height: 100px" %>
                  </div>
                  <div class="col-7">
                    <h6 class="font-weight-bold pt-2">
                        <%= link_to "#{category.name}", like_lunch_category_path(category.id) %>
                    </h6>
                  </div>
                </div>
              </div>
            <% else %>
              <h1>見つかりません</h1>
            <% end %>
          <% end %>
        </div>
      <h1 id="plan">プラン</h1></br>
      <h1 id="recommend"><%= link_to "おすすめ店舗", recommend_categories_path, class: "btn btn-lg btn-default" %></h1></br>
      <h1 id="interview"><%= link_to "オーナーインタビュー", interviews_path, class: "btn btn-lg btn-default" %></h1></br>
        <% @interviews.each do |interview| %><%# オーナーインタビューを全てeach %>
          <hr class="tool-bar">
          <div class="row">
            <div class="col-sm-3">
              <div class="grid-item-image"><%= image_tag interview.image_interview.thumb.url %></div>
                <%= link_to "#{interview.owner_name}", interview_path(interview) %></br>
                <%= link_to "#{interview.shop_name}", interview_path(interview) %></br>
                <%= link_to "#{interview.content}", interview_path(interview) %>
            </div>
          </div>
        <% end %>
      <h1 id="service">サービス</h1></br>
      <h1 id="inquiry"><%= link_to "お問い合わせ", contacts_path, class: "btn btn-lg btn-default" %></h1>
      <h1><%= link_to "サブスクnews", blogs_path %></h1>
        <% @blogs.each do |blog| %><%# サブスクnewsを全てeach %>
         <hr class="tool-bar">
          <div class="row">
            <div class="col-md-offset-3 col-sm-6">
              <%= link_to "#{blog.title}", blog_path(blog) %>
            </div><br>
            <div class="col-md-offset-8 col-sm-6">
              <%= link_to "#{blog.body}", blog_path(blog) %>
            </div>
          </div>
        <% end %>
      <h1><%= link_to "よくある質問", questions_path %></h1>
        <% @questions.each do |question| %><%# よくある質問を全てeach %>
          <hr class="tool-bar">
          <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
                <%= link_to "#{question.detail}", questions_path %>
            </div><br>
            <div class="col-sm-offset-8 col-sm-6">
                <%= link_to "#{question.answer}", questions_path %>
            </div>
          </div>
        <% end %>
    <% end %>
  <% else %> <%# ログインしてない %>
    <div class="owner-btn">
      <a href="top_owner.html" class="btn btn-c btn--pink btn--cubic">経営者様はこちら</a>
    </div>
    
    <div class="category-list">
      <% @categories.each do |category| %><%# カテゴリーを全てeach %>
        <div class="category-item">
            <%= image_tag category.image_category, class: "image-menu" %>
          <div class="category-shop-btn">
            <%= link_to "#{category.name}", like_lunch_category_path(category.id) %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="category">
      <div class="all-category">全ての&nbsp;<%= link_to "カテゴリー", categories_path, class: "all-category-btn" %>&nbsp;を見る。</div>
    </div>

    <%= form_with(model: @map, url: index_update_map_path(@map), local: true) do |f| %>
      <%= f.label :エリア %>
      <%= f.text_field :address, placeholder: "対象エリア検索", class: "form-control" %>
      <%= f.submit '検索' %>
    <% end %>
    <%= form_with(model: @category, method: :get, local: true) do |f| %>
      <%= f.collection_select(:search, @categories_name, :name, :name, {include_blank: "キーワードからカテゴリーを検索してみよう", class: "form-control"}) %>
      <!--%= text_field_tag :search, "",placeholder: "キーワードからカテゴリーを検索してみよう" %--><%= submit_tag '検索', :name => nil %>
    <% end %>
        <div id="map"></div>
        <style>
        #map{
          height: 600px;
        }
        </style>

      <script>
        let map
        let geocode
        let marker = []; // マーカーを複数表示させたいので、配列化
        let infoWindow = []; // 吹き出しを複数表示させたいので、配列化
        let markerData = gon.owners; // コントローラーで定義したインスタンス変数を変数に代入

        const data = [
          { name: "東京タワー", lat: 35.6585805, lng: 139.7454329 },
          { name: "京都タワー", lat: 34.9875441, lng: 135.7592164 },
          { name: "通天閣", lat: 34.6524992, lng: 135.5063058 }
        ];

        const display = document.getElementById('map')

        function initMap(){
          geocoder = new google.maps.Geocoder()

          map = new google.maps.Map(document.getElementById('map'), {
            center: 
            {lat: <%= @map.latitude.present? ? @map.latitude : 34.9787 %>,
            lng:<%= @map.longitude.present? ? @map.longitude : 138.3830 %>},
            zoom: 18,
          });
        
          // 繰り返し処理でマーカーと吹き出しを複数表示させる
          for (var i = 0; i < markerData.length; i++) {
            let id = markerData[i]['store_information']

            // 各地点のマーカーを作成
            marker[i] = new google.maps.Marker({
              position: latlng,
              map: map
            });

            // 各地点の吹き出しを作成
            infoWindow[i] = new google.maps.InfoWindow({
              // 吹き出しの内容
              content: '<div id="map">' + markerData[i]['store_information'] + '</div>'
            });

            // マーカーにクリックイベントを追加
            markerEvent(i);
          }
        
        // マーカーをクリックしたら吹き出しを表示
        function markerEvent(i) {
          marker[i].addListener('click', function () {
            infoWindow[i].open(map, marker[i]);
          });
          }
            // 各ユーザーのIDを変数化
          let id = markerData[i]['id']

          infoWindow[i] = new google.maps.InfoWindow({
            // <a>タグでリンクを作成
            content: `<a href='/owners/${ id }'>${ markerData[i]['store_information'] }</a>`
          });
        }

        function codeAddress(){
          // 入力を取得
          let inputAddress = document.getElementById('store_information').value;

          // geocodingしたあとmapを移動
          geocoder.geocode( { 'store_information': inputAddress}, function(results, status) {
            if (status == 'OK') {
              // map.setCenterで地図が移動
              map.setCenter(results[0].geometry.location);

              // google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
              var marker = new google.maps.Marker({
                  map: map,
                  position: results[0].geometry.location
              });
            } else {
              alert('Geocode was not successful for the following reason: ' + status);
            }
          });
        }
      </script>
    <script src="https://maps.googleapis.com/maps/api/js?language=ja&region=JP&key=<%= ENV['GOOGLE_MAP_KEY'] %>&callback=initMap" async defer></script>
        
    <h1 id="plan"><%= link_to "利用者様プランの説明", plan_description_path, class: "btn btn-lg btn-default" %></h1></br>
    <h1 id="recommend"><%= link_to "おすすめ店舗", recommend_categories_path, class: "btn btn-lg btn-default" %></h1></br>
        <h1 id="interview"><%= link_to "オーナーインタビュー", interviews_path, class: "btn btn-lg btn-default" %></h1></br>
        <% @interviews.each do |interview| %><%# オーナーインタビューを全てeach %>
          <hr class="tool-bar">
          <div class="row">
            <div class="col-sm-3">
              <div class="grid-item-image"><%= image_tag interview.image_interview.thumb.url %></div>
                <%= link_to "#{interview.owner_name}", interview_path(interview) %></br>
                <%= link_to "#{interview.shop_name}", interview_path(interview) %></br>
                <%= link_to "#{interview.content}", interview_path(interview) %>
            </div>
          </div>
        <% end %>
    <h1 id="service"><%= link_to "ご利用方法について", how_to_use_path, class: "btn btn-lg btn-default" %></h1></br>
    <h1 id="inquiry"><%= link_to "お問い合わせ", contacts_path, class: "btn btn-lg btn-default" %></h1>
    <h1 id="inquiry"><%= link_to "サポート", suports_path, class: "btn btn-lg btn-default" %></h1>
    <h1><%= link_to "サブスクnews", blogs_path %></h1>
        <% @blogs.each do |blog| %><%# サブスクnewsを全てeach %>
        <hr class="tool-bar">
          <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
              <%= link_to "#{blog.title}", blog_path(blog) %>
            </div><br>
            <div class="col-sm-offset-8 col-sm-6">
              <%= link_to "#{blog.body}", blog_path(blog) %>
            </div>
          </div>
        <% end %>
    <h1><%= link_to "よくある質問", questions_path %></h1>
        <% @questions.each do |question| %><%# よくある質問を全てeach %>
          <hr class="tool-bar">
          <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
                <%= link_to "#{question.detail}", questions_path %>
            </div><br>
            <div class="col-sm-offset-8 col-sm-6">
                <%= link_to "#{question.answer}", questions_path %>
            </div>
          </div>
        <% end %>
  <% end %>
</main>
