<% provide(:title, "Top") %>



<main class="scroll-container">
  <% if signed_in? %> <%# ログインしているかどうか %>
    <% if current_owner.present? %> <%# オーナーでログインしているかどうか %>
      <h1 id="home">ホーム</h1></br>
      <h1 id="category"><%= link_to "カテゴリ", categories_path, class: "btn btn-lg btn-link" %></h1></br>
      <h1 id="plan">プラン</h1></br>
      <h1 id="recommend">おすすめ店舗</h1></br>
      <h1 id="interview"><%= link_to "オーナーインタビュー", owner_interviews_path(current_owner), class: "btn btn-lg btn-link" %></h1></br>
      <h1 id="service">サービス</h1></br>
      <h1 id="inquiry"><%= link_to "お問い合わせ", new_contact_path, class: "btn btn-lg btn-link" %></h1>
    <% elsif current_user.present? %> <%# 会員ユーザーでログインしているかどうか %>
      <h1 id="home">ホーム</h1></br>
      <h1 id="category"><%= link_to "カテゴリ", categories_path, class: "btn btn-lg btn-link" %></h1></br>
      <h1 id="plan">プラン</h1></br>
      <h1 id="recommend">おすすめ店舗</h1></br>
      <h1 id="interview"><%= link_to "オーナーインタビュー", interviews_index_owners_path, class: "btn btn-lg btn-link" %></h1></br>
      <h1 id="service">サービス</h1></br>
      <h1 id="inquiry"><%= link_to "お問い合わせ", new_contact_path, class: "btn btn-lg btn-link" %></h1>
    <% elsif current_admin.present? %> <%# 管理者でログインしているかどうか %>
      <h1 id="home">ホーム</h1></br>
      <h1 id="category"><%= link_to "カテゴリ", categories_path, class: "btn btn-lg btn-link" %></h1></br>
      <h1 id="plan">プラン</h1></br>
      <h1 id="recommend">おすすめ店舗</h1></br>
      <h1 id="interview"><%= link_to "オーナーインタビュー", interviews_index_owners_path, class: "btn btn-lg btn-link" %></h1></br>
      <h1 id="service">サービス</h1></br>
      <h1 id="inquiry"><%= link_to "お問い合わせ", new_contact_path, class: "btn btn-lg btn-link" %></h1>
    <% end %>
  <% else %> <%# ログインしてない %>
    <h1 id="home">ホーム</h1></br>
    <h1 id="category"><%= link_to "カテゴリ", categories_path, class: "btn btn-lg btn-link" %></h1></br>
    <h1 id="plan">プラン</h1></br>
    <h1 id="recommend">おすすめ店舗</h1></br>
    <h1 id="interview"><%= link_to "オーナーインタビュー", interviews_index_owners_path, class: "btn btn-lg btn-link" %></h1></br>
    <h1 id="service">サービス</h1></br>
    <h1 id="inquiry"><%= link_to "お問い合わせ", new_contact_path, class: "btn btn-lg btn-link" %></h1>
  <% end %>
</main>
