<% provide(:title, "Top") %>

  <%= video_tag("/videos/production ID_3977086 (3).mp4", autoplay: :true, loop: :true, muted: :true, width: "1150vw", height: "550vh", class: 'video-content') %>
  <h1><%= link_to "まずはご相談ください", static_pages_discussion_path, class: "btn btn-lg btn-info" %></h1>

<div class="row">  
  <dt><div class="col-sm-4"><%= image_tag "yakiniku.jpeg" %></div></dt>
  <dt><div class="col-sm-4"><%= image_tag "yakiniku2.jpg" %></div></dt>
  <dt><div class="col-sm-4"><%= image_tag "yakiniku3.jpeg" %></div></dt>
</div>
<main class="scroll-container">
  <% if signed_in? %> <%# ログインしているかどうか %>
    <% if current_owner.present? %> <%# オーナーでログインしているかどうか %>
      <h1 id="home">ホーム</h1></br>
      <h1 id="category"><%= link_to "カテゴリ", categories_path, class: "btn btn-lg btn-default" %></h1></br>
      <h1 id="plan">プラン</h1></br>
      <h1 id="recommend">おすすめ店舗</h1></br>
      <h1 id="interview"><%= link_to "オーナーインタビュー", interviews_path, class: "btn btn-lg btn-default" %></h1></br>
        <% @interviews.each do |interview| %><%# オーナーインタビューを全てeach %>
          <hr class="tool-bar">
          <div class="row">
            <div class="col-sm-3">
              <div class="grid-item-image"><%= image_tag interview.image_interview.thumb.url %></div>
                <%= link_to "#{interview.owner_name}", interview_path(interview) %></br>
                <%= link_to "#{interview.shop_name}", interview_path(interview) %></br>
                <%= link_to "#{interview.content}", interview_path(interview) %>
            </div>
          </div>
        <% end %>
      <h1 id="service">サービス</h1></br>
      <h1 id="inquiry"><%= link_to "お問い合わせ", new_contact_path, class: "btn btn-lg btn-default" %></h1>
      <h1><%= link_to "サブスクnews", blogs_path %></h1>
        <% @blogs.each do |blog| %><%# サブスクnewsを全てeach %>
         <hr class="tool-bar">
          <div class="row">
            <div class="col-md-offset-3 col-sm-6">
              <%= link_to "#{blog.title}", blog_path(blog) %>
            </div><br>
            <div class="col-md-offset-8 col-sm-6">
              <%= link_to "#{blog.body}", blog_path(blog) %>
            </div>
          </div>
        <% end %>
    <% elsif current_user.present? %> <%# 会員ユーザーでログインしているかどうか %>
      <h1 id="home">ホーム</h1></br>
      <h1 id="category"><%= link_to "カテゴリ", categories_path, class: "btn btn-lg btn-default" %></h1></br>
      <h1 id="plan">プラン</h1></br>
      <h1 id="recommend">おすすめ店舗</h1></br>
      <h1 id="interview"><%= link_to "オーナーインタビュー", interviews_path, class: "btn btn-lg btn-default" %></h1></br>
        <% @interviews.each do |interview| %><%# オーナーインタビューを全てeach %>
          <hr class="tool-bar">
          <div class="row">
            <div class="col-sm-3">
              <div class="grid-item-image"><%= image_tag interview.image_interview.thumb.url %></div>
                <%= link_to "#{interview.owner_name}", interview_path(interview) %></br>
                <%= link_to "#{interview.shop_name}", interview_path(interview) %></br>
                <%= link_to "#{interview.content}", interview_path(interview) %>
            </div>
          </div>
        <% end %>
      <h1 id="service">サービス</h1></br>
      <h1 id="inquiry"><%= link_to "お問い合わせ", new_contact_path, class: "btn btn-lg btn-default" %></h1>
      <h1><%= link_to "サブスクnews", blogs_path %></h1>
        <% @blogs.each do |blog| %><%# サブスクnewsを全てeach %>
         <hr class="tool-bar">
          <div class="row">
            <div class="col-md-offset-3 col-sm-6">
              <%= link_to "#{blog.title}", blog_path(blog) %>
            </div><br>
            <div class="col-md-offset-8 col-sm-6">
              <%= link_to "#{blog.body}", blog_path(blog) %>
            </div>
          </div>
        <% end %>
    <% elsif current_admin.present? %> <%# 管理者でログインしているかどうか %>
      <h1 id="home">ホーム</h1></br>
      <h1 id="category"><%= link_to "カテゴリ", categories_path, class: "btn btn-lg btn-default" %></h1></br>
      <h1 id="plan">プラン</h1></br>
      <h1 id="recommend">おすすめ店舗</h1></br>
      <h1 id="interview"><%= link_to "オーナーインタビュー", interviews_path, class: "btn btn-lg btn-default" %></h1></br>
        <% @interviews.each do |interview| %><%# オーナーインタビューを全てeach %>
          <hr class="tool-bar">
          <div class="row">
            <div class="col-sm-3">
              <div class="grid-item-image"><%= image_tag interview.image_interview.thumb.url %></div>
                <%= link_to "#{interview.owner_name}", interview_path(interview) %></br>
                <%= link_to "#{interview.shop_name}", interview_path(interview) %></br>
                <%= link_to "#{interview.content}", interview_path(interview) %>
            </div>
          </div>
        <% end %>
      <h1 id="service">サービス</h1></br>
      <h1 id="inquiry"><%= link_to "お問い合わせ", new_contact_path, class: "btn btn-lg btn-default" %></h1>
      <h1><%= link_to "サブスクnews", blogs_path %></h1>
        <% @blogs.each do |blog| %><%# サブスクnewsを全てeach %>
         <hr class="tool-bar">
          <div class="row">
            <div class="col-md-offset-3 col-sm-6">
              <%= link_to "#{blog.title}", blog_path(blog) %>
            </div><br>
            <div class="col-md-offset-8 col-sm-6">
              <%= link_to "#{blog.body}", blog_path(blog) %>
            </div>
          </div>
        <% end %>
    <% end %>
  <% else %> <%# ログインしてない %>
    <h1 id="home">ホーム</h1></br>
    <h1 id="category"><%= link_to "カテゴリ", categories_path, class: "btn btn-lg btn-default" %></h1></br>
    <h1 id="plan">プラン</h1></br>
    <h1 id="recommend">おすすめ店舗</h1></br>
        <h1 id="interview"><%= link_to "オーナーインタビュー", interviews_path, class: "btn btn-lg btn-default" %></h1></br>
        <% @interviews.each do |interview| %><%# オーナーインタビューを全てeach %>
          <hr class="tool-bar">
          <div class="row">
            <div class="col-sm-3">
              <div class="grid-item-image"><%= image_tag interview.image_interview.thumb.url %></div>
                <%= link_to "#{interview.owner_name}", interview_path(interview) %></br>
                <%= link_to "#{interview.shop_name}", interview_path(interview) %></br>
                <%= link_to "#{interview.content}", interview_path(interview) %>
            </div>
          </div>
        <% end %>
    <h1 id="service">サービス</h1></br>
    <h1 id="inquiry"><%= link_to "お問い合わせ", new_contact_path, class: "btn btn-lg btn-default" %></h1>
    <h1 id="inquiry"><%= link_to "サポート", new_suport_path, class: "btn btn-lg btn-default" %></h1>
    <h1><%= link_to "サブスクnews", blogs_path %></h1>
    <% @blogs.each do |blog| %><%# サブスクnewsを全てeach %>
     <hr class="tool-bar">
      <div class="row">
        <div class="col-md-offset-3 col-sm-6">
          <%= link_to "#{blog.title}", blog_path(blog) %>
        </div><br>
        <div class="col-md-offset-8 col-sm-6">
          <%= link_to "#{blog.body}", blog_path(blog) %>
        </div>
      </div>
    <% end %>
  <% end %>
</main>
