<% provide(:title, "Top") %>

 <p id="notice"><%= notice %></p>
<% if signed_in? %> <%# ログインしているかどうか %>
  <% if current_user.present? %>
    <p>ようこそ！<%= current_user.name %>さん</p>
  <% elsif current_owner.present? %>
    <p>ようこそ！<%= current_owner.name %>さん</p>
  <% elsif current_admin.present? %>
    <p>ようこそ！<%= current_admin.name %>さん</p>
  <% end %>
<% else %>
  <p>ようこそ！ゲストさん</p>
<% end %> 

  <div class="f-container">
    <div class="f-item">
      <div class="box26">
        <span class="box-title">&nbsp;<i class="fas fa-store fa-lg"></i>&nbsp;サブスクショップで！</span>
          <div class="comment-text">月額定額料金を支払うことで、特定の店で食事ができるサービスです。複数ある加盟店で広く利用でき、割安で食事が楽しめるというメリットがあります。</div>
      </div>
    </div>
    <div class="f-item">
      <div class="box26">
        <span class="box-title">&nbsp;<i class="fas fa-utensils fa-lg"></i>&nbsp;ネット集客で！</span>
          <div class="comment-text">サンプルコメント サンプルコメント サンプルコメント サンプルコメント サンプルコメントサンプルコメント サンプルコメント サンプルコメント サンプルコメント サンプルコメント</div>
      </div>
    </div>
    <div class="f-item">
      <div class="box26">
        <span class="box-title">&nbsp;<i class="far fa-credit-card fa-lg"></i>&nbsp;売り上げUPを！</span>
          <div class="comment-text">サンプルコメント サンプルコメント サンプルコメント サンプルコメント サンプルコメントサンプルコメント サンプルコメント サンプルコメント サンプルコメント サンプルコメント</div>
      </div>
    </div>
  </div>
  <hr class="border-solid-down">

<main class="scroll-container">
  <% if signed_in? %> <%# ログインしているかどうか %>
    <% if current_owner.present? %> <%# オーナーでログインしているかどうか %>
      <div class="owner-btn">
        <a href="/" class="btn btn-c btn--pink btn--cubic">利用者様はこちら</a>
      </div>
      <div class="recommend-shop">
        <%= image_tag 'nayami.jpg', Style: "height: 350px"%>
      </div>
      <div class="recommend-shop">
        <%= link_to discussion_path, class: "btn-gradient-radius-blue" do%>
        まずは相談しましょう&nbsp;<i class="fas fa-chevron-circle-right"></i>
        <% end %>
      </div>
      <div class="recommend-shop">
        <%= image_tag 'ryoukin.jpg', Style: "height: 350px"%>
      </div>
      <hr class="style1">
      <div class="service"><%= link_to "プランの説明", plan_description_path, class: "user-service" %></div>
      <hr class="style2">
      <div class="service"><%= link_to "おすすめ店舗", recommend_categories_path, class: "user-service" %></div>
      <hr class="style2"> 
      <div class="service"><%= link_to "経営者様インタビュー", interviews_path, class: "user-service" %></div>
        <% @interviews.each do |interview| %><%# オーナーインタビューを全てeach %>
          <hr class="tool-bar">
          <div class="row">
            <div class="col-sm-3">
              <div class="grid-item-image"><%= image_tag interview.image_interview.thumb.url %></div>
                <%= link_to "#{interview.owner_name}", interview_path(interview) %></br>
                <%= link_to "#{interview.shop_name}", interview_path(interview) %></br>
                <%= link_to "#{interview.content}", interview_path(interview) %>
            </div>
          </div>
        <% end %>
      <hr class="style2"> 
      <div class="service"><%= link_to "サービス", how_to_use_path, class: "user-service" %></h1></br>
      <hr class="style2"> 
      <div class="service"><%= link_to "お問い合わせ", contacts_path, class: "user-service" %></div>
      <hr class="style2"> 
      <div class="service"><%= link_to "サポート", suports_path, class: "user-service" %></div>
      <hr class="style2"> 
      <div class="news"><%= link_to "サブスクnews", blogs_path, class: "user-service" %></div>
          <% @blogs.each do |blog| %><%# サブスクnewsを全てeach %>
          <hr class="tool-bar">
            <div class="row">
              <div class="col-sm-offset-3 col-sm-6">
                <%= link_to "#{blog.title}", blog_path(blog) %>
              </div><br>
              <div class="col-sm-offset-8 col-sm-6">
                <%= link_to "#{blog.body}", blog_path(blog) %>
              </div>
            </div>
          <% end %>
        <hr class="style2"> 
        <div class="service"><%= link_to "よくある質問", questions_path, class: "user-service" %></div>
            <% @questions.each do |question| %><%# よくある質問を全てeach %>
              <hr class="tool-bar">
              <div class="row">
                <div class="col-sm-offset-3 col-sm-6">
                    <%= link_to "#{question.detail}", questions_path %>
                </div><br>
                <div class="col-sm-offset-8 col-sm-6">
                    <%= link_to "#{question.answer}", questions_path %>
                </div>
              </div>
            <% end %>
    <% elsif current_user.present? %> <%# 会員ユーザーでログインしているかどうか %>
      <div class="owner-btn">
        <a href="/" class="btn btn-c btn--pink btn--cubic">利用者様はこちら</a>
      </div>
      <div class="recommend-shop">
        <%= image_tag 'nayami.jpg', Style: "height: 350px"%>
      </div>
      <div class="recommend-shop">
        <%= link_to discussion_path, class: "btn-gradient-radius-blue" do%>
        まずは相談しましょう&nbsp;<i class="fas fa-chevron-circle-right"></i>
        <% end %>
      </div>
      <hr class="style1">
      <div class="service"><%= link_to "プランの説明", plan_description_path, class: "user-service" %></div>
      <hr class="style2">
      <div class="service"><%= link_to "おすすめ店舗", recommend_categories_path, class: "user-service" %></div>
      <hr class="style2"> 
      <div class="service"><%= link_to "経営者様インタビュー", interviews_path, class: "user-service" %></div>
        <% @interviews.each do |interview| %><%# オーナーインタビューを全てeach %>
          <hr class="tool-bar">
          <div class="row">
            <div class="col-sm-3">
              <div class="grid-item-image"><%= image_tag interview.image_interview.thumb.url %></div>
                <%= link_to "#{interview.owner_name}", interview_path(interview) %></br>
                <%= link_to "#{interview.shop_name}", interview_path(interview) %></br>
                <%= link_to "#{interview.content}", interview_path(interview) %>
            </div>
          </div>
        <% end %>
      <hr class="style2"> 
      <div class="service"><%= link_to "サービス", how_to_use_path, class: "user-service" %></h1></br>
      <hr class="style2"> 
      <div class="service"><%= link_to "お問い合わせ", contacts_path, class: "user-service" %></div>
      <hr class="style2"> 
      <div class="service"><%= link_to "サポート", suports_path, class: "user-service" %></div>
      <hr class="style2"> 
      <div class="news"><%= link_to "サブスクnews", blogs_path, class: "user-service" %></div>
          <% @blogs.each do |blog| %><%# サブスクnewsを全てeach %>
          <hr class="tool-bar">
            <div class="row">
              <div class="col-sm-offset-3 col-sm-6">
                <%= link_to "#{blog.title}", blog_path(blog) %>
              </div><br>
              <div class="col-sm-offset-8 col-sm-6">
                <%= link_to "#{blog.body}", blog_path(blog) %>
              </div>
            </div>
          <% end %>
      <hr class="style2"> 
      <div class="service"><%= link_to "よくある質問", questions_path, class: "user-service" %></div>
          <% @questions.each do |question| %><%# よくある質問を全てeach %>
            <hr class="tool-bar">
            <div class="row">
              <div class="col-sm-offset-3 col-sm-6">
                  <%= link_to "#{question.detail}", questions_path %>
              </div><br>
              <div class="col-sm-offset-8 col-sm-6">
                  <%= link_to "#{question.answer}", questions_path %>
              </div>
            </div>
          <% end %>
    <% elsif current_admin.present? %> <%# 管理者でログインしているかどうか %>
      <div class="owner-btn">
        <a href="/" class="btn btn-c btn--pink btn--cubic">利用者様はこちら</a>
      </div>
      <div class="recommend-shop">
        <%= image_tag 'nayami.jpg', Style: "height: 350px"%>
      </div>
      <div class="recommend-shop">
        <%= link_to discussion_path, class: "btn-gradient-radius-blue" do%>
        まずは相談しましょう&nbsp;<i class="fas fa-chevron-circle-right"></i>
        <% end %>
      </div>
      <hr class="style1">
      <div class="service"><%= link_to "プランの説明", plan_description_path, class: "user-service" %></div>
      <hr class="style2">
      <div class="service"><%= link_to "おすすめ店舗", recommend_categories_path, class: "user-service" %></div>
      <hr class="style2"> 
      <div class="service"><%= link_to "経営者様インタビュー", interviews_path, class: "user-service" %></div>
        <% @interviews.each do |interview| %><%# オーナーインタビューを全てeach %>
          <hr class="tool-bar">
          <div class="row">
            <div class="col-sm-3">
              <div class="grid-item-image"><%= image_tag interview.image_interview.thumb.url %></div>
                <%= link_to "#{interview.owner_name}", interview_path(interview) %></br>
                <%= link_to "#{interview.shop_name}", interview_path(interview) %></br>
                <%= link_to "#{interview.content}", interview_path(interview) %>
            </div>
          </div>
        <% end %>
      <hr class="style2"> 
      <div class="service"><%= link_to "サービス", how_to_use_path, class: "user-service" %></h1></br>
      <hr class="style2"> 
      <div class="service"><%= link_to "お問い合わせ", contacts_path, class: "user-service" %></div>
      <hr class="style2"> 
      <div class="service"><%= link_to "サポート", suports_path, class: "user-service" %></div>
      <hr class="style2"> 
      <div class="news"><%= link_to "サブスクnews", blogs_path, class: "user-service" %></div>
          <% @blogs.each do |blog| %><%# サブスクnewsを全てeach %>
          <hr class="tool-bar">
            <div class="row">
              <div class="col-sm-offset-3 col-sm-6">
                <%= link_to "#{blog.title}", blog_path(blog) %>
              </div><br>
              <div class="col-sm-offset-8 col-sm-6">
                <%= link_to "#{blog.body}", blog_path(blog) %>
              </div>
            </div>
          <% end %>
      <hr class="style2"> 
      <div class="service"><%= link_to "よくある質問", questions_path, class: "user-service" %></div>
          <% @questions.each do |question| %><%# よくある質問を全てeach %>
            <hr class="tool-bar">
            <div class="row">
              <div class="col-sm-offset-3 col-sm-6">
                  <%= link_to "#{question.detail}", questions_path %>
              </div><br>
              <div class="col-sm-offset-8 col-sm-6">
                  <%= link_to "#{question.answer}", questions_path %>
              </div>
            </div>
          <% end %>
    <% end %>
  <% else %> <%# ログインしてない %>
    <div class="owner-btn">
      <a href="/" class="btn btn-c btn--pink btn--cubic">利用者様はこちら</a>
    </div>
    <div class="recommend-shop">
      <%= link_to discussion_path, class: "btn-gradient-radius-blue" do%>
      まずは相談しましょう&nbsp;<i class="fas fa-chevron-circle-right"></i>
      <% end %>
    </div>
    <div class="recommend-shop">
      <%= image_tag 'nayami.jpg', Style: "height: 350px"%>
    </div>
    <div class="recommend-shop">
      <%= image_tag 'merito.jpg', Style: "height: 350px"%>
    </div>
    <div class="recommend-shop">
      <%= image_tag 'service.jpg', Style: "height: 350px"%>
    </div>
    <%= video_tag("/player.video-share.co/840cebe92684fd7bd1e319b65c813a1d957562cc (3).mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>
    <div>
      <%= image_tag 'ryoukin.jpg', Style: "height: 350px"%><i class="fas fa-chevron-circle-right"></i>
    </div>
    <hr class="style1">
    <div class="service"><%= link_to "プランの説明", plan_description_path, class: "user-service" %></div>
    <hr class="style2">
    <div class="service"><%= link_to "おすすめ店舗", recommend_categories_path, class: "user-service" %></div>
    <hr class="style2"> 
    <div class="service"><%= link_to "経営者様インタビュー", interviews_path, class: "user-service" %></div>
      <% @interviews.each do |interview| %><%# オーナーインタビューを全てeach %>
        <hr class="tool-bar">
        <div class="row">
          <div class="col-sm-3">
            <div class="grid-item-image"><%= image_tag interview.image_interview.thumb.url %></div>
              <%= link_to "#{interview.owner_name}", interview_path(interview) %></br>
              <%= link_to "#{interview.shop_name}", interview_path(interview) %></br>
              <%= link_to "#{interview.content}", interview_path(interview) %>
          </div>
        </div>
      <% end %>
    <hr class="style2"> 
    <div class="service"><%= link_to "サービス", how_to_use_path, class: "user-service" %></h1></br>
    <hr class="style2"> 
    <div class="service"><%= link_to "お問い合わせ", contacts_path, class: "user-service" %></div>
    <hr class="style2"> 
    <div class="service"><%= link_to "サポート", suports_path, class: "user-service" %></div>
    <hr class="style2"> 
    <div class="news"><%= link_to "サブスクnews", blogs_path, class: "user-service" %></div>
        <% @blogs.each do |blog| %><%# サブスクnewsを全てeach %>
         <hr class="tool-bar">
          <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
              <%= link_to "#{blog.title}", blog_path(blog) %>
            </div><br>
            <div class="col-sm-offset-8 col-sm-6">
              <%= link_to "#{blog.body}", blog_path(blog) %>
            </div>
          </div>
        <% end %>
    <hr class="style2"> 
    <div class="service"><%= link_to "よくある質問", questions_path, class: "user-service" %></div>
        <% @questions.each do |question| %><%# よくある質問を全てeach %>
          <hr class="tool-bar">
          <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
                <%= link_to "#{question.detail}", questions_path %>
            </div><br>
            <div class="col-sm-offset-8 col-sm-6">
                <%= link_to "#{question.answer}", questions_path %>
            </div>
          </div>
        <% end %>
  <% end %>
</main>
<style>
    #map{
      height: 200px;
    }
</style>
<script>
  let mapInstance //この変数はmap.js.erbでも使うのでタイプミスに注意

  function initMap(){
    mapInstance = new google.maps.Map(document.getElementById('map'), {
    center: {lat: -34.397, lng: 150.644},
    zoom: 8
    });
  }
</script>        
<script>
  let map
  let geocode
  let marker = []; // マーカーを複数表示させたいので、配列化
  let infoWindow = []; // 吹き出しを複数表示させたいので、配列化
  let markerData = gon.owners; // コントローラーで定義したインスタンス変数を変数に代入

  const display = document.getElementById('map')

  function initMap(){
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      center: 
      {lat: <%= @map.latitude.present? ? @map.latitude : 34.9787 %>,
      lng:<%= @map.longitude.present? ? @map.longitude : 138.3830 %>},
      zoom: 18,
    });
  
    // 繰り返し処理でマーカーと吹き出しを複数表示させる
    for (var i = 0; i < markerData.length; i++) {
      let id = markerData[i]['store_information']

      // 各地点のマーカーを作成
      marker[i] = new google.maps.Marker({
        position: latlng,
        map: map
      });

      // 各地点の吹き出しを作成
      infoWindow[i] = new google.maps.InfoWindow({
        // 吹き出しの内容
        content: '<div id="map">' + markerData[i]['store_information'] + '</div>'
      });

      // マーカーにクリックイベントを追加
      markerEvent(i);
    }
  
  // マーカーをクリックしたら吹き出しを表示
  function markerEvent(i) {
    marker[i].addListener('click', function () {
      infoWindow[i].open(map, marker[i]);
    });
    }
      // 各ユーザーのIDを変数化
    let id = markerData[i]['id']

    infoWindow[i] = new google.maps.InfoWindow({
      // <a>タグでリンクを作成
      content: `<a href='/owners/${ id }'>${ markerData[i]['store_information'] }</a>`
    });
  }

  function codeAddress(){
    // 入力を取得
    let inputAddress = document.getElementById('store_information').value;

    // geocodingしたあとmapを移動
    geocoder.geocode( { 'store_information': inputAddress}, function(results, status) {
      if (status == 'OK') {
        // map.setCenterで地図が移動
        map.setCenter(results[0].geometry.location);

        // google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&callback=initMap" async defer></script>
