<div class="col-lg-4 col-md-6 mb-4">
  <div class="card">
    <div class="card-body subscription-bg">
      <% if (@private_store.trial == "非参加") || (@private_store.trial == "参加" && !current_user.select_trial) %>
        <h5 class="mb-4">加盟店プラン</h5>
        <div class="d-flex justify-content-center">
          <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPf1fl_6GCRJUByMI9OSkIz02ssTC23yXJTQ&usqp=CAU"
          width="120"
          height="120"
        />
        </div>
        <h2 class="font-weight-bold my-4"><%= "￥#{@private_store_plan.amount_subtotal.to_s(:delimited)}/月" %></h2>
        <p class="grey-text"><%= @private_store_plan.metadata.detail %></p>
        <% if @pay.present? && @private_store_plan.amount_subtotal == @payment.amount_total %>
          <button style="pointer-events: none;" class="btn btn-outline-success btn-rounded waves-effect">すでに購入されています</button>
        <% else %>
          <button type="button" id="private_store-plan" class="btn btn-outline-success btn-rounded waves-effect">詳細</button>
        <% end %>
      <% else %>
	<h5 class="mb-4">トライアルプラン</h5>
        <div class="d-flex justify-content-center">
          <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPf1fl_6GCRJUByMI9OSkIz02ssTC23yXJTQ&usqp=CAU"
          width="120"
          height="120"
        />
        </div>
        <h2 class="font-weight-bold my-4"><%= "￥#{@trial_plan.amount_subtotal.to_s(:delimited)}/月" %></h2>
        <p class="grey-text"><!--%= @trial_plan.metadata.detail %--></p>
        <% if @pay.present? && @trial_plan.amount_subtotal == @payment.amount_total %>
          <button style="pointer-events: none;" class="btn btn-outline-success btn-rounded waves-effect">すでに購入されています</button>
        <% else %>
          <button type="button" id="trial-plan" class="btn btn-outline-success btn-rounded waves-effect">詳細</button>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<% if (Rails.env.development? || Rails.env.test?) && @private_store.trial == true && current_user.select_trial %>
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    var stripe = Stripe("<%= ENV['STRIPE_PUBLISHABLE_KEY']%>");
    var checkoutButton = document.getElementById('trial-plan');

    checkoutButton.addEventListener('click', function() {
      stripe.redirectToCheckout({
        sessionId: '<%= @trial_plan.id %>'
      }).then(function (result) {
      });
    });
  </script>
<% elsif (Rails.env.development? || Rails.env.test?) && (@private_store.trial == "非参加" || (@private_store.trial == "参加" && !current_user.select_trial)) %>
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    var stripe = Stripe("<%= ENV['STRIPE_PUBLISHABLE_KEY']%>");
    var checkoutButton = document.getElementById('private_store-plan');

    checkoutButton.addEventListener('click', function() {
      stripe.redirectToCheckout({
        sessionId: '<%= @private_store_plan.id %>'
      }).then(function (result) {
      });
    });
  </script>


<% elsif Rails.env.production? && @private_store.trial == true && current_user.select_trial %>
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    var stripe = Stripe("<%= ENV['STRIPE_PUBLISHABLE_PRODUCTION_KEY']%>");
    var checkoutButton = document.getElementById('trial-plan');

    checkoutButton.addEventListener('click', function() {
      stripe.redirectToCheckout({
        sessionId: '<%= @trial_plan.id %>'
      }).then(function (result) {
      });
    });
  </script>
<% elsif Rails.env.production? && (@private_store.trial == "非参加" || (@private_store.trial == "参加" && !current_user.select_trial)) %>
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    var stripe = Stripe("<%= ENV['STRIPE_PUBLISHABLE_PRODUCTION_KEY']%>");
    var checkoutButton = document.getElementById('private_store-plan');

    checkoutButton.addEventListener('click', function() {
      stripe.redirectToCheckout({
        sessionId: '<%= @private_store_plan.id %>'
      }).then(function (result) {
      });
    });
  </script>
<% end %>
