<div class="container my-5">
  <section class="text-center dark-grey-text">
    <% if @private_store.present? && @private_store.trial == true && current_user.select_trial %>
      <h1 class="font-weight-bold pb-2 mb-4">巡グルメ トライアルプラン</h1>
    <% else %>
      <h1 class="font-weight-bold pb-2 mb-4">巡グルメ 個人店プラン</h1>
    <% end %>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4 mx-auto">
        <div class="card">
	  <div class="card-body subscription-bg">
            <% if @private_store.present? && @private_store.trial == true && current_user.select_trial %>
              <h5 class="mb-4">トライアルプラン</h5>
            <% else %>
              <h5 class="mb-4">個人店プラン</h5>
            <% end %>
            <div class="d-flex justify-content-center">
              <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPf1fl_6GCRJUByMI9OSkIz02ssTC23yXJTQ&usqp=CAU"
              width="120"
              height="120"
            />
            </div>
            <h2 class="font-weight-bold my-4"><%= "￥#{@plan_by_price.amount_total.to_s(:delimited)}/月" %></h2>
            <p class="grey-text"><!--%= @plan_by_price.metadata.detail %--></p>
            <% if @pay.present? && @plan_by_price.amount_total == @payment.amount_total %>
              <button style="pointer-events: none;" class="btn btn-outline-success btn-rounded waves-effect">すでに購入されています</button>
            <% else %>
              <button type="button" id="user-checkout-button" class="btn btn-outline-success btn-rounded waves-effect">サブスクする</button>
            <% end %>
	  </div>
	</div>
      </div>
    </div>
  </section>
</div>

<%
=begin%>
 <script src="https://js.stripe.com/v3/"></script>
<script>
  var stripe = Stripe("<%= ENV['STRIPE_PUBLISHABLE_KEY']%>");
  var checkoutButton = document.getElementById('user-checkout-button');

  checkoutButton.addEventListener('click', function() {
    stripe.redirectToCheckout({
      sessionId: '<%= @plan_by_price.id %>'
    }).then(function (result) {
    });
  });
</script>
<%
=end%>

<% if Rails.env.development? || Rails.env.test? %>
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    var stripe = Stripe("<%= ENV['STRIPE_PUBLISHABLE_KEY']%>");
    var checkoutButton = document.getElementById('user-checkout-button');

    checkoutButton.addEventListener('click', function() {
      stripe.redirectToCheckout({
        sessionId: '<%= @plan_by_price.id %>'
      }).then(function (result) {
      });
    });
  </script>
<% end %>

<% if Rails.env.production? %>
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    var stripe = Stripe("<%= ENV['STRIPE_PUBLISHABLE_PRODUCTION_KEY']%>");
    var checkoutButton = document.getElementById('user-checkout-button');

    checkoutButton.addEventListener('click', function() {
      stripe.redirectToCheckout({
        sessionId: '<%= @plan_by_price.id %>'
      }).then(function (result) {
      });
    });
  </script>
<% end %>
