<% provide(:title, "サブスクnews一覧") %>
<p id="notice"><%= notice %></p>

<h1>サブスクnews一覧</h1>

<table>
  <tbody>
    <%= link_to 'New Blog', new_blog_path, class: "btn btn-info" %>
    <% @blogs.each do |blog| %>
    <hr class="tool-bar">
      <div class="row">
        <div class="col-sm-2">
          <%= blog.title %>
        </div><br>
        <div class="col-sm-4">
          <div class="grid-item-image"><%= image_tag blog.image_photo.thumb.url %></div> 
        </div>

        <div class="col-sm-2">
          <%= blog.body %>
        </div>

        <div class="col-sm-2">
          <%= link_to "詳細", blog_path(blog), class: "btn-gradient-3d-simple" %>
        </div>
        <div class="col-sm-2">
          <%= link_to "編集", edit_blog_path(blog), class: "btn-gradient-3d-simple" %>
        </div>
        <div class="col-sm-2">
          <%= link_to "削除", blog_path(blog), method: :delete, class: "btn-gradient-3d-simple-destroy", data: { confirm: "サブスクnewsを削除してよろしいですか？" } %>
        </div>
      </div>
    <% end %>
  </tbody>
</table>
