<% provide(:title, "サブスクnews") %>
<p id="notice"><%= notice %></p>

<h1 class="brand-color display-4 mt-6 mb-6">サブスクnews</h1>
<hr class="tool-bar">
<div class="row mb-8">
  <div class="col-lg-9">
    <h1 class="mt-3"><%= @blog.title %></h1>

    <p>
      <%= image_tag @blog.image_photo.url %>
    </p>

    <div class="card mb-5">
      <p class="card-body"><%= @blog.body %></p>
    </div>

    <%= link_to 'news一覧へ', blogs_path, class: "btn btn-outline-secondary" %>
    <% if current_admin.present? %>
      <%= link_to '編集', edit_blog_path(@blog), class: "btn btn-outline-secondary" %>
      <%= link_to '新規作成', new_blog_path, class: "btn btn-gradient-radius" %><br>
    <% end %>


    <h1 class="mt-5"><%= link_to "お問い合わせはこちら", discussion_path, class: "btn-gradient-radius" %></h1>
  </div>

  <div class="col-lg-3">
    <h2 class="brand-color my-3">おすすめnews</h2>
    <% @blogs.each do |blog| %>
      <hr class="tool-bar">
      <div>
        <h2><%= link_to "#{blog.title.truncate(20)}", blog_path(blog) %></h2>
      </div><br>
      <div>
        <div class="grid-item-image"><%= image_tag blog.image_photo.url,:size => '300x260' %>
        </div><br>
      </div>
      <div>
        <%= link_to "#{blog.body.truncate(20)}", blog_path(blog) %>
      </div><br>
      <% if current_admin.present? %>
        <div class="row">
          <div class="col-2">
            <%= link_to "詳細", blog_path(blog), class: "btn btn-brand" %>
          </div>
          <div class="col-2">
            <%= link_to "編集", edit_blog_path(blog), class: "btn btn-brand" %>
          </div>
          <div class="col-2">
            <%= link_to "削除", blog_path(blog), method: :delete, class: "btn btn-danger", data: { confirm: "サブスクnewsを削除してよろしいですか？" } %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

