<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @owner.name %> 様</h1>
    <p>
      お店の名前: <%= @subscription.name %>
    </p>
    <p>
      お客様お名前: <%= @user.name %>
    </p>
    <p>
      お客様メールアドレス: <%= @user.email %>
    </p>
    <p>
      メッセージ: <%= @subscription.message %>
    </p>
    <p>
      サイトURL: <%= @url %>
    </p>
  </body>
</html>
