<% provide(:title, "Edit") %>

<p id="notice"><%= notice %></p>
<h1><%= @owner.name %>様の個人店審査</h1>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3 mx-auto">
    <%= form_with(model: @private_store, url: private_owner_update_admin_path(owner_id: @owner.id, id: @private_store), local: true) do |f| %>
      <%= f.hidden_field :id, :value => @private_store.id %>
      <div class="field">
        <%= f.label :name %><%= f.text_field :name, value: @private_store.name, readonly: true, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :site %><%= f.text_field :site, value: @private_store.site, readonly: true, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :登録したい商品の金額 %><%= f.number_field :price, value: @private_store.price, readonly: true, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :admin_private_check %>
        <%= f.select :admin_private_check, [['承認'],['否認']], { include_blank: true }, class: 'form-control' %>
      </div>
      <div class="field mb-3">
        <%= f.submit "審査確認する", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>
  </div>
</div>
