<% provide(:title, "Edit") %>

<p id="notice"><%= notice %></p>
<h1><%= @owner.name %>様の加盟店審査</h1>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3 mx-auto">
    <%= form_with(model: @subscription, url: subscription_owner_update_admin_path(owner_id: @owner.id, id: @subscription.id), local: true) do |f| %>
      <%= f.hidden_field :id, :value => @subscription.id %>
      <div class="field">
        <%= f.label :name %><%= f.text_field :name, value: @subscription.name, readonly: true, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :site %><%= f.text_field :site, value: @subscription.site, readonly: true, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :admin_subscription_check %>
        <%= f.select :admin_subscription_check, [['承認'],['否認']], { include_blank: true }, class: 'form-control' %>
      </div>
      <div class="field mb-3">
        <%= f.submit "審査確認する", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>
  </div>
</div>
