<%= form_with(model: interview, local: true) do |form| %>
  <% if interview.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interview.errors.count, "error") %> prohibited this interview from being saved:</h2>

      <ul>
      <% interview.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :owner_name %>
    <%= form.text_field :owner_name, id: :interview_owner_name %>
  </div>

  <div class="field">
    <%= form.label :shop_name %>
    <%= form.text_field :shop_name, id: :interview_shop_name %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content, id: :interview_content %>
  </div>

  <div class="field">
    <%= form.label :image_interview %>
    <%= form.text_field :image_interview, id: :interview_image_interview %>
  </div>

  <div class="field">
    <%= form.label :youtube_url %>
    <%= form.text_field :youtube_url, id: :interview_youtube_url %>
  </div>

  <div class="field">
    <%= form.label :music %>
    <%= form.text_field :music, id: :interview_music %>
  </div>

  <div class="field">
    <%= form.label :owner_id %>
    <%= form.text_field :owner_id, id: :interview_owner_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
