<% provide(:title, "経営者様インタビュー") %>

<p id="notice"><%= notice %></p>

<h1>経営者様インタビュー</h1>

<table>
  <tbody>
    <% @interviews.each do |interview| %>
    <hr class="tool-bar">
      <div class="row">
        <div class="col-sm-3">
          <div class="grid-item-image"><%= image_tag interview.image_interview.thumb.url %></div>
        </div>
        <div class="col-sm-2">
          <%= interview.owner_name %>
        </div>

        <div class="col-sm-2">
          <%= interview.shop_name %>
        </div>

        <div class="col-sm-2">
          <%= interview.content %>
        </div>

      <% if current_owner.present? or current_admin.present? %>
        <div class="col-sm-1">
          <%= link_to "詳細", interview_path(interview), class: "btn-gradient-3d-simple" %>
        </div>
        <div class="col-sm-1">
          <%= link_to "編集", edit_interview_path(interview), class: "btn-gradient-3d-simple" %>
        </div>
        <div class="col-sm-1">
          <%= link_to "削除", interview_path(interview), method: :delete, class: "btn btn-danger", data: { confirm: "お店を削除してよろしいですか？" } %>
        </div>
      <% end %>
      </div>
    <% end %>
    <% if current_owner.present? or current_admin.present? %>
      <%= link_to '経営者様インタビュー作成', new_interview_path %>
    <% end %>
  </tbody>
</table>
<br>

