<h1>New Interview</h1>

<%= form_with(model: @interview, url: owner_interviews_path, local: true) do |form| %>
  <%= render 'shared/error_messages' , object: @interview %>

  <div class="field">
    <%= form.label :owner_name %>
    <%= form.text_field :owner_name, id: :interview_owner_name, placeholder: "例)鈴木　太郎", class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :shop_name %>
    <%= form.text_field :shop_name, id: :interview_shop_name, placeholder: "例)野郎ラーメン", class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content, id: :interview_content, placeholder: "例)美味しいラーメン", class: 'form-control' %>
  </div>
  <%= form.hidden_field :owner_id, :value => @owner.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', owner_interviews_path %>
