<% provide(:title, '経営者様インタビュー詳細') %>
<p id="notice"><%= notice %></p>


<h1 class="brand-color display-4 mt-6 mb-6">経営者様インタビュー詳細</h1>

<%# ここからスマホ表示2 %>
<div class="d-lg-none">
  <div class="row">
    <div class="col-12">
      <div class="card mb-5">
        <%= image_tag @interview.image_interview.thumb.url, :class => "card-img-top" %>
        <div class="card-body">
          <h1 class="card-title brand-color text-left"><%= @interview.shop_name %>　　<%= @interview.owner_name %>様</h1>
          <p class="card-text"><%= @interview.content %></p> 
        </div>
      </div>
      <% if signed_in? %>
        <% if !current_owner.present? %>
          <div class="tool--item">
            <%= link_to "編集", edit_interview_path(@interview), class: "btn btn-lg btn-block btn-brand mb-4" %>
            <%= link_to "削除", interview_path(@interview), method: :delete, class: "btn btn-lg btn-block btn-outline-danger mb-5", data: { confirm: "お店を削除してよろしいですか？" } %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= link_to '経営者様インタビュー一覧', interviews_path, class: "btn btn-lg btn-block btn-brand mt-5 mb-8" %>
</div>
<%# ここまでスマホ表示2 %>

<%# ここからPC表示 %>
<div class="d-none d-lg-block">
  <div class="row">
    <div class="col-sm-10 col-md-offset-1">
      <table class="table table-bordered table-hover mt-4" id="table-schedule">
        <tbody>
          <tr>
            <th class="active center">
              <p>
              <span><%= Interview.human_attribute_name :owner_name %></span>
              <span><td class="active"><%= @interview.owner_name %></span></td>
              <br><th class="active center"><span><%= Interview.human_attribute_name :shop_name %></span></th>
              <span><td class="active"><%= @interview.shop_name %></span></td>
              </p>
            </th>
          </tr>
          <tr>
            <th class="active center">
              <p>
              <span><%= Interview.human_attribute_name :image_interview %></span>
              <span><td class="active center" colspan="3"><%= image_tag @interview.image_interview.thumb.url %></span></td>
              </p>
            </th>
          </tr>
          <tr>
            <th class="active center col-sm-2"><%= Interview.human_attribute_name :content %></th>
            <td  class="active" colspan = "3"><%= @interview.content %></td>
          </tr>
        </tbody>
        <% if signed_in? %>
          <% if !current_owner.present? %>
            <div class="tool--item">
              <%= link_to "編集", edit_interview_path(@interview), class: "btn-gradient-radius" %>
              <%= link_to "削除", interview_path(@interview), method: :delete, class: "btn-danger-radius", data: { confirm: "お店を削除してよろしいですか？" } %>
            </div>
          <% end %>    
        <% end %>
      </table>
    </div>    
  </div>
  <%= link_to '経営者様インタビュー一覧', interviews_path, class: "btn-gradient-radius mt-5 mb-8" %>
</div>
<%# ここまでPC表示 %>


