<% provide(:title, "Myアカウント") %>

<p id="notice"><%= notice %></p>
<link href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" rel="stylesheet">
<div class="show-account-body">
  <h1 class="show-account-title"><i class="far fa-user"></i>&ensp;マイアカウント</h1>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <table class="table table-bordered">
          <tr>
            <th class="col-md-4", height="50">名前</th>
            <td class="show-account"><%= @owner.name %></td>
          </tr>
          <tr>
            <th class="col-md-4", height="50">メールアドレス</th>
            <td class="show-account"><%= @owner.email %></td>
          </tr>
          <tr>
            <th class="col-md-4", height="50">店舗情報</th>
            <td class="show-account"><%= @owner.store_information %></td>
          </tr>
          <tr>
            <th class="col-md-4", height="50">電話番号</th>
            <td class="show-account"><%= @owner.phone_number %></td>
          </tr>
          <tr>
            <th class="col-md-4", height="50">登録日</th>
            <td class="show-account"><%= l(@owner.created_at, format: :date) %></td>
          </tr>
        </table>
      </div>
    </div>
      <%# ここからカードでサブスク回す %>
    <div class="row ">
      <% if @subscriptions_count > 1 %>
          <% @subscriptions.each do |subscription| %>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <span class="badge badge-success">加盟店</span>
                    <h5 class="card-title">お店の名前：<%= check_not_set(subscription.name) %></h5>
                    <h5 class="card-title"><%= link_to "サブスクのタイトル：#{subscription.title}", owner_subscription_path(subscription, owner_id: @owner.id) %></h5>
                    <p class="card-text">サブスク加入プラン：　¥<%= check_not_set(subscription.price) %></p>
                    <p class="card-title"><%= link_to "編集", edit_owner_subscription_path(subscription, owner_id: @owner.id), class: "btn btn--blue btn-md btn--shadow" %></p>
                  </div>
                </div>
              </div>
          <% end %></br>
        <div class="account-btn">
          <%= link_to "解約について", edit_owner_registration_path(@owner), class: "btn-gradient-3d-simple" %>
        </div></br>
        <div class="account-btn">
          <%= link_to "マイアカウント編集", edit_owner_path(@owner), class: "btn-gradient-3d-simple" %>
        </div></br>
      <% elsif @private_stores_count > 1 %>
          <% @private_stores.each do |private_store| %>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">お店の名前：<%= check_not_set(private_store.name) %></h5>
                    <h5 class="card-title"><%= link_to "サブスクのタイトル：#{private_store.title}", owner_private_store_path(private_store, owner_id: @owner.id) %></h5>
                    <p class="card-text">サブスク加入プラン：　¥<%= check_not_set(private_store.price) %></p>
                    <p class="card-title"><%= link_to "編集", edit_owner_private_store_path(private_store, owner_id: @owner.id), class: "btn btn--blue btn-md btn--shadow" %></p>
                  </div>
                </div>
              </div>
          <% end %></br>
        <div class="account-btn">
          <%= link_to "解約について", edit_owner_registration_path(@owner), class: "btn-gradient-3d-simple" %>
        </div></br>
        <div class="account-btn">
          <%= link_to "マイアカウント編集", edit_owner_path(@owner), class: "btn-gradient-3d-simple" %>
        </div></br>
      <% elsif @private_stores_count > 1 && @private_stores_count > 1 %>
          <% @subscriptions.each do |subscription| %>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                  <span class="badge badge-success">加盟店</span>
                    <h5 class="card-title">お店の名前：<%= check_not_set(subscription.name) %></h5>
                    <h5 class="card-title"><%= link_to "サブスクのタイトル：#{subscription.title}", owner_subscription_path(subscription, owner_id: @owner.id) %></h5>
                    <p class="card-text">サブスク加入プラン：　¥<%= check_not_set(subscription.price) %></p>
                    <p class="card-title"><%= link_to "編集", edit_owner_subscription_path(subscription, owner_id: @owner.id), class: "btn btn--blue btn-md btn--shadow" %></p>
                  </div>
                </div>
              </div>
          <% end %></br>
          <% @private_stores.each do |private_store| %>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                  <span class="badge badge-primary">個人店舗</span>
                    <h5 class="card-title">お店の名前：<%= check_not_set(private_store.name) %></h5>
                    <h5 class="card-title"><%= link_to "サブスクのタイトル：#{private_store.title}", owner_private_store_path(private_store, owner_id: @owner.id) %></h5>
                    <p class="card-text">サブスク加入プラン：　¥<%= check_not_set(private_store.price) %></p>
                    <p class="card-title"><%= link_to "編集", edit_owner_private_store_path(private_store, owner_id: @owner.id), class: "btn btn--blue btn-md btn--shadow" %></p>
                  </div>
                </div>
              </div>
          <% end %></br>
        <div class="account-btn">
          <%= link_to "解約について", edit_owner_registration_path(@owner), class: "btn-gradient-3d-simple" %>
        </div></br>
        <div class="account-btn">
          <%= link_to "マイアカウント編集", edit_owner_path(@owner), class: "btn-gradient-3d-simple" %>
        </div></br>

      <% elsif @private_stores_count == O && @private_stores_count == O %>
        <h5>現在、加盟店サブスクの設定はありません。</h5>
        <h5>現在、個人店サブスクの設定はありません。</h5>
        <div class="account-btn">
          <%= link_to "解約について", edit_owner_registration_path(@owner), class: "btn-gradient-3d-simple" %>
        </div></br>
        <div class="account-btn">
          <%= link_to "編集", edit_owner_path(@owner), class: "btn-gradient-3d-simple" %>
        </div></br>
      <% end %>
    </div>
</div>
