<% provide(:title, "Myアカウント") %>

<p id="notice"><%= notice %></p>
<link href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" rel="stylesheet">
<div class="show-account-body">
  <h1 class="show-account-title"><i class="far fa-user"></i>&ensp;マイアカウント</h1>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <table class="table table-bordered">
          <tr>
            <th class="col-md-4", height="50">名前</th>
            <td class="show-account"><%= @owner.name %></td>
          </tr>
          <tr>
            <th class="col-md-4", height="50">メールアドレス</th>
            <td class="show-account"><%= @owner.email %></td>
          </tr>
          <tr>
            <th class="col-md-4", height="50">店舗情報</th>
            <td class="show-account"><%= @owner.store_information %></td>
          </tr>
          <tr>
            <th class="col-md-4", height="50">電話番号</th>
            <td class="show-account"><%= @owner.phone_number %></td>
          </tr>
          <tr>
            <th class="col-md-4", height="50">登録日</th>
            <td class="show-account"><%= l(@owner.created_at, format: :date) %></td>
          </tr>
        </table>
      </div>
    </div>
    <% if current_owner.present? %>
      <div class="account-btn">
        <%= link_to "#{current_owner.name}さんのサブスクショップ", owner_subscriptions_path(@owner), class: "btn-gradient-3d-simple" %>
      </div></br>
      <div class="account-btn">
        <%= link_to "解約について", edit_owner_registration_path(@owner), class: "btn-gradient-3d-simple" %>
      </div></br>
      <div class="account-btn">
        <%= link_to "編集", owner_edit_owner_path(current_owner), class: "btn-gradient-3d-simple" %>
      </div></br>
    <% end %>
</div>