<% provide(:title, 'Search Owners') %>
<h1 class="brand-color display-4 mt-6 mb-6">経営者検索結果</h1>

<div class="col-md-10 offset-md-1">
  <table class="table table-condensed table-hover my-5" id="table-users">
    <thead>
      <tr>
        <th>ID</th>
        <th>名前</th>
        <th>かな</th>
        <th>アドレス</th>
        <th>電話番号</th>
        <% if current_admin.present? %>
        <th></th>
        <th></th>
        <% end %>
      </tr>
    </thead>

    <% @owners.each do |owner| %>
      <tr>
        <td><%= owner.id %></td>
        <td><%= link_to owner.name ,owner_path(owner) %></td>
        <td><%= owner.kana %></td>
        <td><%= owner.email %></td>
        <td><%= owner.phone_number %></td>
      <% if current_admin.present? %>
        <td>
            <%= link_to "削除", owner, method: :delete,
                data: { confirm: "削除してよろしいですか？" },
                class: "btn btn-danger" %>
        </td>
        <td>
            <%= link_to "編集", edit_owner_path(owner), class: "btn btn-brand" %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </table>
  <%= link_to "経営者一覧へ戻る", owners_path, class: "btn btn-gradient-radius mt-5 mb-8" %>
</div>
