<% provide(:title, @owner.name) %>
<link href="https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap" rel="stylesheet">  
<div class="staff-show-body">
  <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <table border="2" style="border-collapse: collapse; border-color: black">
          <h1>Myページ</h1>
          <%= @subscriptions_count %>
          <p><%= @owner.email %></p>
            <% if @subscriptions_count == 0 %>
              <%= link_to 'サブスクページ作成はこちら', new_owner_shop_path(@owner), class: "btn btn-info" %>
            <% else %>

            <% end %>

            <tr>
              <th height="40" class=col-sm-2>名前</th><td class=col-sm-4><%= @owner.name %></td>
            </tr>
            <tr>
              <th height="40" class=col-sm-2>メールアドレス</th><td class=col-sm-4><%= @owner.email %></td>
            </tr>
            <tr>
              <th height="40" class=col-sm-2>店舗情報</th><td class=col-sm-4><%= @owner.store_information %></td>
            </tr>
            <tr>
              <th height="40" class=col-sm-2>店舗情報</th><td class=col-sm-4><%= @owner.payee %></td>
            </tr>
            <tr>
              <th height="40" class=col-sm-2>TEL</th><td class=col-sm-4><%= @owner.phone_number %></td>
            </tr>
            <tr>
              <th height="40" class=col-sm-2>LINE_ID</th><td class=col-sm-4><%= @owner.line_id %></td>
            </tr>
            <% if @subscriptions != []%>
              <% @subscriptions.each do |subscription| %>
                <tr>
                  <th height="40" class=col-sm-2>サブスク名</th><td class=col-sm-4><%= check_not_set(subscription.name) %></td>
                </tr>
                <tr>
                  <th height="40" class=col-sm-2>サブスク加入プラン</th><td class=col-sm-4><%= check_not_set(subscription.price) %></td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <th height="40" class=col-sm-2>サブスク</th><td class=col-sm-4>現在、サブスクの設定はありません。</td>
              </tr>
            <% end %>
          </table>
          <div class="user-show-btn">
            <%= link_to owners_path, class: "btn btn--blue btn-sm btn--shadow" do %>
            <i class="fas fa-reply"> 戻る</i>
            <% end %>
            <% if current_admin.present? || current_owner.present? %>
              <%= link_to "経営者様情報の更新", edit_owner_path, class: "btn btn--blue btn-sm btn--shadow" %>
            <% end %>
            <%= link_to "サブスク情報一覧", owner_subscriptions_path(@owner), class: "btn btn--blue btn-sm btn--shadow" %>
          </div>
        </div>
      </div>
  </div>
</div>

