<% provide(:title, @owner.name) %>
<link href="https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap" rel="stylesheet">
<div>
  <h1 class="brand-color display-4 mt-6 mb-6">Myページ</h1>
  <div class="row mb-5">
    <div class="col-md-6 ml-auto mr-auto">
      <table class="table">
        <%# ここから追加分 %>
        <% if @subscriptions == []%> 
        <% end %>
        <%# ここまで追加分 %>

        <tr>
          <th height="40" class=col-sm-2>名前</th><td class=col-sm-4><%= @owner.name %></td>
        </tr>
        <tr>
          <th height="40" class=col-sm-2>メールアドレス</th><td class=col-sm-4><%= @owner.email %></td>
        </tr>
        <tr>
          <th height="40" class=col-sm-2>店舗情報</th><td class=col-sm-4><%= @owner.store_information %></td>
        </tr>
        <tr>
          <th height="40" class=col-sm-2>振込先</th><td class=col-sm-4><%= @owner.payee %></td>
        </tr>
        <tr>
          <th height="40" class=col-sm-2>TEL</th><td class=col-sm-4><%= @owner.phone_number %></td>
        </tr>
        <tr>
          <th height="40" class=col-sm-2>LINE_ID</th><td class=col-sm-4><%= @owner.line_id %></td>
        </tr>
      </table>
    </div>
  </div>

  <%# ここからカードでサブスク回す %>
    <div class="row ">
      <% if (@private_stores_count < 1) && (@subscriptions_count > 1) %>
        <h5 class="account-btn">現在、個人店サブスクの設定はありません。</h5><br>
        <% @subscriptions.each do |subscription| %>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                  <span class="badge badge-success">加盟店</span>
                  <% if subscription.admin_subscription_check == "承認" %>
                    <% if subscription.trial == true %>
                      <span class="badge badge-warning">トライアル参加済み</span>
                    <% end %>
                    <span class="badge badge-info">
                      <%= subscription.admin_last_check %>
                    </span>
                  <% elsif subscription.admin_subscription_check == "否認" %>
                    <span class="badge badge-info">
                      <%= subscription.admin_last_check %>
                    </span>
                  <% elsif subscription.situation == "加盟店舗の申請中" %>
                    <% if subscription.trial == true %>
                      <span class="badge badge-warning">トライアル参加申請中</span>
                    <% end %>
                    <span class="badge badge-info">
                      <%= subscription.situation %>
                    </span>
                  <% end %>
                    <h5 class="card-title">お店の名前：<%= check_not_set(subscription.name) %></h5>
                    <h5 class="card-title">
                      <%= link_to "サブスクのタイトル：#{subscription.title}", owner_subscription_path(subscription, owner_id: @owner.id) %>
                    </h5>
                    <p class="card-text">サブスク加入プラン：　¥<%= check_not_set(subscription.price) %></p>
                    <p class="card-title">
                      <% if subscription.admin_last_check == "加盟承認審査済み" %>
                        <%= link_to "カスタマイズ", edit_owner_subscription_path(subscription, owner_id: @owner.id), class: "btn btn--blue btn-md btn--shadow" %>
                      <% elsif subscription.admin_last_check == "否認審査済み" %>
                      <div class="col-sm-1 btn--del">
                        <%= link_to "削除", owner_subscription_path(subscription, owner_id: @owner.id), method: :delete, class: "btn btn-danger", data: { confirm: "お店を削除してよろしいですか？" } %>
                      </div>
                      <% end %>
                    </p>
                  </div>
                </div>
              </div>
        <% end %></br>
      <% elsif @subscriptions_count < 1 && @private_stores_count > 1 %>
        <h5>現在、加盟店サブスクの設定はありません。</h5>
          <% @private_stores.each do |private_store| %>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                  <span class="badge badge-primary">個人店舗</span>
                  <% if private_store.admin_private_check == "承認" %>
                    <% if private_store.trial == true %>
                      <span class="badge badge-warning">トライアル参加済み</span>
                    <% end %>
                    <span class="badge badge-info">
                      <%= private_store.admin_last_check %>
                    </span>
                  <% elsif private_store.admin_private_check == "否認" %>
                    <span class="badge badge-info">
                      <%= private_store.admin_last_check %>
                    </span>
                  <% elsif private_store.situation == "個人店申請中" %>
                    <% if private_store.trial == true %>
                      <span class="badge badge-warning">トライアル参加申請中</span>
                    <% end %>
                    <span class="badge badge-info">
                      <%= private_store.situation %>
                    </span>
                  <% end %>
                    <h5 class="card-title">お店の名前：<%= check_not_set(private_store.name) %></h5>
                    <h5 class="card-title"><%= link_to "サブスクのタイトル：#{private_store.title}", owner_private_store_path(private_store, owner_id: @owner.id) %></h5>
                    <p class="card-text">サブスク加入プラン：　¥<%= check_not_set(private_store.price) %></p>
                    <p class="card-title">
                      <% if private_store.admin_last_check == "個人承認審査済み" %>
                        <%= link_to "カスタマイズ", edit_owner_private_store_path(private_store, owner_id: @owner.id), class: "btn btn--blue btn-md btn--shadow" %>
                      <% elsif private_store.admin_last_check == "否認審査済み" %>
                        <div class="col-sm-1 btn--del">
                          <%= link_to "削除", owner_private_store_path(private_store, owner_id: @owner.id), method: :delete, class: "btn btn-danger", data: { confirm: "お店を削除してよろしいですか？" } %>
                        </div>
                      <% end %>
                    </p>
                  </div>
                </div>
              </div>
          <% end %></br>
      <% elsif @subscriptions_count < 1 && @private_stores_count < 1 %>
        <h5>現在、加盟店サブスクの設定はありません。</h5>
        <h5>現在、個人店サブスクの設定はありません。</h5>
      <% else %>
          <% @subscriptions.each do |subscription| %>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                  <span class="badge badge-success">加盟店</span>
                  <% if subscription.admin_subscription_check == "承認" %>
                    <% if subscription.trial == true %>
                      <span class="badge badge-warning">トライアル参加済み</span>
                    <% end %>
                    <span class="badge badge-info">
                      <%= subscription.admin_last_check %>
                    </span>
                  <% elsif subscription.admin_subscription_check == "否認" %>
                    <span class="badge badge-info">
                      <%= subscription.admin_last_check %>
                    </span>
                  <% elsif subscription.situation == "加盟店舗の申請中" %>
                    <% if subscription.trial == true %>
                      <span class="badge badge-warning">トライアル参加申請中</span>
                    <% end %>
                    <span class="badge badge-info">
                      <%= subscription.situation %>
                    </span>
                  <% end %>
                    <h5 class="card-title">お店の名前：<%= check_not_set(subscription.name) %></h5>
                    <h5 class="card-title">
                      <%= link_to "サブスクのタイトル：#{subscription.title}", owner_subscription_path(subscription, owner_id: @owner.id) %>
                    </h5>
                    <p class="card-text">サブスク加入プラン：　¥<%= check_not_set(subscription.price) %></p>
                    <p class="card-title">
                      <% if subscription.admin_last_check == "加盟承認審査済み" %>
                        <%= link_to "カスタマイズ", edit_owner_subscription_path(subscription, owner_id: @owner.id), class: "btn btn--blue btn-md btn--shadow" %>
                      <% elsif subscription.admin_last_check == "否認審査済み" %>
                      <div class="col-sm-1 btn--del">
                        <%= link_to "削除", owner_subscription_path(subscription, owner_id: @owner.id), method: :delete, class: "btn btn-danger", data: { confirm: "お店を削除してよろしいですか？" } %>
                      </div>
                      <% end %>
                    </p>
                  </div>
                </div>
              </div>
          <% end %></br>
          <% @private_stores.each do |private_store| %>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body">
                  <span class="badge badge-primary">個人店舗</span>
                  <% if private_store.admin_private_check == "承認" %>
                    <% if private_store.trial == true %>
                      <span class="badge badge-warning">トライアル参加済み</span>
                    <% end %>
                    <span class="badge badge-info">
                      <%= private_store.admin_last_check %>
                    </span>
                  <% elsif private_store.admin_private_check == "否認" %>
                    <span class="badge badge-info">
                      <%= private_store.admin_last_check %>
                    </span>
                  <% elsif private_store.situation == "個人店申請中" %>
                    <% if private_store.trial == true %>
                      <span class="badge badge-warning">トライアル参加申請中</span>
                    <% end %>
                    <span class="badge badge-info">
                      <%= private_store.situation %>
                    </span>
                  <% end %>
                    <h5 class="card-title">お店の名前：<%= check_not_set(private_store.name) %></h5>
                    <h5 class="card-title"><%= link_to "サブスクのタイトル：#{private_store.title}", owner_private_store_path(private_store, owner_id: @owner.id) %></h5>
                    <p class="card-text">サブスク加入プラン：　¥<%= check_not_set(private_store.price) %></p>
                    <p class="card-title">
                      <% if private_store.admin_last_check == "個人承認審査済み" %>
                        <%= link_to "カスタマイズ", edit_owner_private_store_path(private_store, owner_id: @owner.id), class: "btn btn--blue btn-md btn--shadow" %>
                      <% elsif private_store.admin_last_check == "否認審査済み" %>
                        <div class="col-sm-1 btn--del">
                          <%= link_to "削除", owner_private_store_path(private_store, owner_id: @owner.id), method: :delete, class: "btn btn-danger", data: { confirm: "お店を削除してよろしいですか？" } %>
                        </div>
                      <% end %>
                    </p>
                  </div>
                </div>
              </div>
          <% end %></br>
      <% end %>
    </div>
  <%# ここまでカードでサブスク回す %>


  <div class="user-show-btn mt-5 mb-8">
    <%= link_to owners_path, class: "btn btn--blue btn-sm btn--shadow" do %>
    <i class="fas fa-reply"> 戻る</i>
    <% end %>
    <% if current_admin.present? || current_owner.present? %>
      <%= link_to "経営者様情報の更新", owner_edit_admin_path(owner_id: @owner.id), class: "btn btn--blue btn-sm btn--shadow" %>
    <% end %>
    <% if current_owner.present? %>
      <%= link_to "チケット使用履歴", ticket_logs_path, class: "btn btn--blue btn-md btn--shadow" %>
    <% end %>
  </div>

</div>