<% provide(:title, @owner.name) %>
<link href="https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap" rel="stylesheet">
<div>
  <h1 class="brand-color display-4 mt-6 mb-6">Myページ</h1>
  <div class="row mb-5">
    <div class="col-md-6 ml-auto mr-auto">
      <table class="table">
        <%# ここから追加分 %>
        <% if @subscriptions == []%> 
          <%= link_to 'ショップ開設', new_owner_subscription_path(@owner), class: "btn btn-info" %>              
        <% end %>
        <%# ここまで追加分 %>

        <tr>
          <th height="40" class=col-sm-2>名前</th><td class=col-sm-4><%= @owner.name %></td>
        </tr>
        <tr>
          <th height="40" class=col-sm-2>メールアドレス</th><td class=col-sm-4><%= @owner.email %></td>
        </tr>
        <tr>
          <th height="40" class=col-sm-2>店舗情報</th><td class=col-sm-4><%= @owner.store_information %></td>
        </tr>
        <tr>
          <th height="40" class=col-sm-2>振込先</th><td class=col-sm-4><%= @owner.payee %></td>
        </tr>
        <tr>
          <th height="40" class=col-sm-2>TEL</th><td class=col-sm-4><%= @owner.phone_number %></td>
        </tr>
        <tr>
          <th height="40" class=col-sm-2>LINE_ID</th><td class=col-sm-4><%= @owner.line_id %></td>
        </tr>
      </table>
    </div>
  </div>

  <%# ここからカードでサブスク回す %>
  <div class="row ">
    <% if @subscriptions != []%>
      <% @subscriptions.each do |subscription| %>

        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">お店の名前：<%= check_not_set(subscription.name) %></h5>
              <h5 class="card-title"><%= link_to "サブスクのタイトル：#{subscription.title}", owner_subscription_path(subscription) %></h5>
              <p class="card-text">サブスク加入プラン：　¥<%= check_not_set(subscription.price) %></p>
            </div>
          </div>
        </div>

      <% end %>
    <% else %>
      <h5>現在、サブスクの設定はありません。</h5>        
    <% end %>
  </div>
  <%# ここまでカードでサブスク回す %>


  <div class="user-show-btn mt-5 mb-8">
    <%= link_to owners_path, class: "btn btn--blue btn-sm btn--shadow" do %>
    <i class="fas fa-reply"> 戻る</i>
    <% end %>
    <% if current_admin.present? || current_owner.present? %>
      <%= link_to "経営者様情報の更新", edit_owner_path, class: "btn btn--blue btn-sm btn--shadow" %>
    <% end %>
    <%= link_to "サブスク情報一覧", owner_subscriptions_owner_subscription_path(@owner), class: "btn btn--blue btn-sm btn--shadow" %>
    <% if current_owner.present? %>
      <%= link_to "チケット使用履歴", ticket_logs_path, class: "btn btn--blue btn-md btn--shadow" %>
    <% end %>
  </div>

</div>