<% provide(:title, "会員登録") %>

<h1 class="new-title index-title-post">経営者様　新規会員登録</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3 mx-auto">

    <%= form_with model: @owner, url: owners_sign_up_confirm_path(@owner), local: true do |f| %>
      <%= render "owners/shared/error_messages", resource: @owner %>

      <div class="field">
        <%= f.label :name %> <span class="must">必須</span><br/>
        <%= f.text_field :name, :required => true, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :email %><span class="must">必須</span><br/>
        <%= f.email_field :email, :required => true, placeholder: "sample@gmail.com", autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :phone_number %> <span>＊(ハイフンなし)連絡がつきやすい番号でお願いします。</span><span class="must">必須</span><br/>
        <%= f.telephone_field :phone_number, :required => true, class: 'form-control' %>
      </div>

      <% if resource.errors.include?(:phone_number) %>
        <p style="color: red;">＊<%= resource.errors.full_messages_for(:phone_number).first %></p>
        <br/>
      <% end %>

      <div class="field">
        <%= f.label :payee %> <span class="must">必須</span><br/>
        <%= f.text_field :payee, :required => true, class: 'form-control' %>
      </div>
      <p>※振り込みは翌月の月末に振り込み。振り込み手数料は御社でご負担となります。</p>
      <br/>
      <br/>
      <div class="field">
        <%= f.label :password %><span class="must">必須</span>
        <% if @minimum_password_length %>
        <em>(最小<%= @minimum_password_length %>文字)</em>
        <% end %><br/>
        <%= f.password_field :password, placeholder: "6文字以上、半角数字と半角英字を使用", :required => true,autocomplete: "new-password", class: 'form-control' %>
      </div>

      <% if resource.errors.include?(:password) %>
        <p style="color: red;">＊<%= resource.errors.full_messages_for(:password).first %></p>
        <br/>
      <% end %>

      <div class="field">
        <%= f.label :password_confirmation %><span class="must">必須</span><br/>
        <%= f.password_field :password_confirmation, :required => true,autocomplete: "new-password", class: 'form-control' %>
      </div>

      <div class="actions sinup">
        <%= f.submit "登録", class: "btn btn-primary btn-block btn-login" %>
      </div>
    <% end %>
 </div>
</div>
