<% provide(:title, "会員登録") %>

<h1 class="new-title index-title-post">オーナー新規会員登録</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :名前 %> <span class="must">必須</span><br/>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :メールアドレス %><span class="must">必須</span><br/>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :住所 %> <span class="must">必須</span><br/>
        <%= f.text_field :address, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :電話番号 %> <span class="must">必須</span><br/>
        <%= f.text_field :phone_number, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :LINE_ID %><br/>
        <%= f.text_field :line_id, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :パスワード %><span class="must">必須</span>
        <% if @minimum_password_length %>
        <em>(最小<%= @minimum_password_length %>文字)</em>
        <% end %><br/>
        <%= f.password_field :password, :required => true,autocomplete: "new-password", class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :パスワード確認 %><span class="must">必須</span><br/>
        <%= f.password_field :password_confirmation, :required => true,autocomplete: "new-password", class: 'form-control' %>
      </div>

      <div class="actions sinup">
        <%= f.submit "登録", class: "btn btn-primary btn-block btn-login" %>
      </div>
    <% end %>
  <%= render "owners/shared/links" %>
 </div>
</div>
