<%= form_with(model: map, local: true) do |form| %>
  <% if map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(map.errors.count, "error") %> prohibited this map from being saved:</h2>

      <ul>
      <% map.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address, id: :map_address %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, id: :map_latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, id: :map_longitude %>
  </div>

  <div class="field">
    <%= form.label :distance %>
    <%= form.number_field :distance, id: :map_distance %>
  </div>

  <div class="field">
    <%= form.label :near_distance %>
    <%= form.number_field :near_distance, id: :map_near_distance %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.number_field :time, id: :map_time %>
  </div>

  <div class="field">
    <%= form.label :near_time %>
    <%= form.number_field :near_time, id: :map_near_time %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title, id: :map_title %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment, id: :map_comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
