<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @map.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @map.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @map.longitude %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @map.distance %>
</p>

<p>
  <strong>Near distance:</strong>
  <%= @map.near_distance %>
</p>

<p>
  <strong>Time:</strong>
  <%= @map.time %>
</p>

<p>
  <strong>Near time:</strong>
  <%= @map.near_time %>
</p>

<p>
  <strong>Title:</strong>
  <%= @map.title %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @map.comment %>
</p>

<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>
