<% provide(:title, "Edit") %>
<h1>ユーザー情報の更新</h1>
<p class="red"><%= notice %></p>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3 mx-auto">
    <%= form_with(model: current_user, local: true) do |f| %>
      <%= render "users/shared/error_messages", resource: current_user %>
      
      <div class="field mb-3">
        <%= f.label :name, class: "form-label" %>
        <%= f.text_field :name, required: true, class: "form-control" %>
      </div>

      <div class="field mb-3">
        <%= f.label :kana, class: "form-label" %>
        <%= f.text_field :kana, class: "form-control" %>
      </div>

      <div class="field mb-3">
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, required: true, class: "form-control" %>
      </div>

      <div class="field mb-3">
        <%= f.label :phone_number, class: "form-label" %>
        <%= f.text_field :phone_number, class: "form-control" %>
      </div>

      <div class="field mb-3">
        <%= f.label :address, class: "form-label" %>
        <%= f.text_field :address, class: "form-control" %>
      </div>

      <div class="field mb-3">
        <%= f.submit "更新", class: "btn btn-primary btn-block" %>
      </div>

    <% end %>
  </div>
</div>
