<% provide(:title, 'All Users') %>

<p id="notice"><%= notice %></p>
<div>
  <h1>お客様一覧</h1>

  <div class="col-sm-10 col-sm-offset-1">
    <% if current_admin.present? %>
      <%= link_to "削除されたアカウント履歴", users_deleted_users_path, class: "btn btn-primary" %>
    <% end %>
    <table class="table table-condensed table-hover" id="table-users">
      <thead>
        <tr>
          <th>ID</th>
          <th>名前</th>
          <th>かな</th>
          <th>アドレス</th>
          <th>電話番号</th>
        </tr>
      </thead>

      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= link_to user.name ,user_path(user) %></td>
          <td><%= user.kana %></td>
          <td><%= link_to user.email ,user_email_owner_path(user) %></td>
          <td><%= user.phone_number %></td>
        <% if current_admin.present? %>
          <td>
              <%= link_to "削除", user, method: :delete,
                  data: { confirm: "削除してよろしいですか？" },
                  class: "btn btn-danger" %>
          </td>
          <td>
              <%= link_to "編集", edit_user_path(user), class: "btn btn-primary" %>
          </td>
        </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>