<% provide(:title, 'All Users') %>
<% provide(:button_text, '検索') %>

<p id="notice"><%= notice %></p>
<div>
  <h1 class="brand-color display-4 mt-6 mb-6">利用者様一覧</h1>

  <div class="col-md-10 offset-md-1">

    <!--ここから先が検索機能の機能-->  
    <div class="row justify-content-end">
      <div class="col-md-6">
        <%= form_with url: search_users_path, method: :get, local: true do |f| %>
          <%= f.text_field :name, :class => 'form_border', placeholder: "名前で利用者様を検索" %>
          <%= f.submit "検索", class: "btn btn-lg btn-brand float-right mt-4" %>
        <% end %>
      </div>
    </div>
    <!--ここまで-->

    <% if current_admin.present? %>
      <%= link_to "削除されたアカウント履歴", users_deleted_users_path, class: "btn btn-brand" %>
    <% end %>
    <table class="table table-condensed table-hover my-5" id="table-users">
      <thead>
        <tr>
          <th>ID</th>
          <th>名前</th>
          <th>かな</th>
          <th>アドレス</th>
          <th>電話番号</th>
          <% if current_admin.present? %>
            <th></th>
            <th></th>
          <% end %>
        </tr>
      </thead>

      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= link_to user.name ,user_path(user) %></td>
          <td><%= user.kana %></td>
          <td><%= link_to user.email ,user_email_owner_path(user) %></td>
          <td><%= user.phone_number %></td>
          <% if current_admin.present? %>
            <td>
                <%= link_to "削除", user, method: :delete,
                    data: { confirm: "削除してよろしいですか？" },
                    class: "btn btn-danger" %>
            </td>
            <td>
                <%= link_to "編集", edit_user_path(user), class: "btn btn-brand" %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>

    <%= will_paginate(@pusers, class: "pagination justify-content-center mt-6 mb-7", renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
  </div>
</div>