<% provide(:title, @user.name) %>
<link href="https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap" rel="stylesheet">  

    <h1 class="brand-color display-4 mt-6 mb-6">お客様詳細ページ</h1>
    
    <div class="col-md-4 offset-md-4">
      <table class="table">
        <tr>
          <th>名前</th><td><%= @user.name %></td>
        </tr>
        <tr>
          <th>カナ</th><td><%= @user.kana %></td>
        </tr>
        <tr>
          <th>住所</th><td><%= @user.address %></td>
        </tr>
        <tr>
          <th>TEL</th><td><%= @user.phone_number %></td>
        </tr>
        <tr>
          <th>メールアドレス</th><td><%= @user.email %></td>
        </tr>
        <tr>
          <th>加入プラン</th><td><%= @user.user_price %></td>
        </tr>
        <tr>
          <th>最新チケット利用日</th><td><%= @ticket.use_ticket_day if @ticket.present? %></td>
        </tr>
      </table>
      <div class="user-show-btn mt-5 mb-7">
        <%= link_to users_path, class: "btn btn--blue btn-md btn--shadow" do %>
        <i class="fas fa-reply"> 戻る</i>
        <% end %>
        <% if current_admin.present? %>
          <%= link_to "編集", edit_user_path(@user), class: "btn btn--blue btn-md btn--shadow" %>
        <% end %>
        <% if current_user.present? %>
          <%= link_to "チケット使用履歴", ticket_logs_path, class: "btn btn--blue btn-md btn--shadow" %>
        <% end %>
      </div>
    </div>
