<% if current_user.issue_ticket_day.present? %>

<div class="container my-5">

  <section class="text-center dark-grey-text">

    <h3 class="font-weight-bold pb-2 mb-4"><%= @subscription.name %></h3>

    <p class="text-muted w-responsive mx-auto mb-5">サンプルコメント</p>

    <div class="row">

      <div class="col-lg-4 col-md-12 mb-4">
      </div>

      <div class="col-lg-4 col-md-6 mb-4">

        <div class="card pricing-card">

          <div class="price header white-text indigo rounded-top">
            <h2 class="number"></h2>
            <div class="version">
              <h5 class="mb-0"><i class="fa fa-file-text-o fa-3x"></i></h5>
            </div>
          </div>

          <div class="card-body striped mb-1">

                <p class="mt-2"><i class="fa fa-check-circle fa"></i> チケットは1日に一回のみ使用できます。</p>
                <p class="mt-2"><i class="fa fa-check-circle fa"></i> 一度使用すると当日は使用できません。</p>
                <p class="mt-2"><i class="fa fa-check-circle fa"></i> 注意事項</p>
                <p class="mt-2"><i class="fa fa-check-circle fa"></i> 注意事項</p>
            <% if current_user.issue_ticket_day == Date.today %>
                <%= "本日のチケットは発券済みです" %>
            <% else %>
                <%= form_with(model: Ticket, url: ticket_update_after_second_time_path(current_user), local: true, method: :patch) do |f| %>

                    <%= f.hidden_field :owner_name, :value => @owner.name %>
                    <%= f.hidden_field :owner_email, :value => @owner.email %>
                    <%= f.hidden_field :owner_phone_number, :value => @owner.phone_number %>
                    <%= f.hidden_field :owner_store_information, :value => @owner.store_information %>
                    <%= f.hidden_field :owner_payee, :value => @owner.payee %>
                    <%= f.hidden_field :subscription_name, :value => @subscription.name %>
                    <%= f.hidden_field :subscription_fee, :value => @subscription.monthly_fee %>
                    <%= f.hidden_field :issue_ticket_day, :value => Date.today %>
                    <%= f.hidden_field :user_id, :value => current_user.id %>

                    <%= f.submit "チケットを発券する", class: "btn btn-outline-success btn-rounded waves-effect" %>
                <% end %>
             <% end %>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
      </div>

    </div>
  </section>
</div>

<% else %>

<div class="container my-5">

  <section class="text-center dark-grey-text">

    <h3 class="font-weight-bold pb-2 mb-4"><%= @subscription.name %></h3>

    <p class="text-muted w-responsive mx-auto mb-5">サンプルコメント</p>

    <div class="row">

      <div class="col-lg-4 col-md-12 mb-4">
      </div>

      <div class="col-lg-4 col-md-6 mb-4">

        <div class="card pricing-card">

          <div class="price header white-text indigo rounded-top">
            <h2 class="number"></h2>
            <div class="version">
              <h5 class="mb-0"><i class="fa fa-file-text-o fa-3x"></i></h5>
            </div>
          </div>

          <div class="card-body striped mb-1">

                <p class="mt-2"><i class="fa fa-check-circle fa"></i> チケットは1日に一回のみ使用できます。</p>
                <p class="mt-2"><i class="fa fa-check-circle fa"></i> 一度使用すると当日は使用できません。</p>
                <p class="mt-2"><i class="fa fa-check-circle fa"></i> 注意事項</p>
                <p class="mt-2"><i class="fa fa-check-circle fa"></i> 注意事項</p>

                <%= form_with(model: Ticket, url: user_tickets_path(current_user), local: true, method: :post) do |f| %>

                    <%= f.hidden_field :owner_name, :value => @owner.name %>
                    <%= f.hidden_field :owner_email, :value => @owner.email %>
                    <%= f.hidden_field :owner_phone_number, :value => @owner.phone_number%>
                    <%= f.hidden_field :owner_store_information, :value => @owner.store_information %>
                    <%= f.hidden_field :owner_payee, :value => @owner.payee %>
                    <%= f.hidden_field :subscription_name, :value => @subscription.name %>
                    <%= f.hidden_field :subscription_fee, :value => @subscription.monthly_fee %>
                    <%= f.hidden_field :issue_ticket_day, :value => Date.today %>
                    <%= f.hidden_field :user_id, :value => current_user.id %>

                    <%= f.submit "チケットを発券する", class: "btn btn-outline-success btn-rounded waves-effect" %>
                <% end %>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
      </div>

    </div>
  </section>
</div>

<% end %>