<% provide(:title, "instagram 投稿") %>

<h1>instagram 投稿</h1>

<%= form_with(model: @private_store_instablog, url: private_store_instablogs_path, local: true) do |form| %>

  <%= form.hidden_field :private_store_id, :value => @private_store.id %>

  <div class="field">
    <%= form.label :埋め込みコード %>
    <%= form.text_area :insta_content, placeholder: "こちらにコピーしたinstagram埋め込みコードを添付してください。", class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>

