<% provide(:title, "instagram 投稿") %>

<h1>instagram 投稿</h1>

<%= form_with(model: @private_store_instablog, url: private_store_instablogs_path, local: true) do |form| %>

  <%= form.hidden_field :private_store_id, :value => @private_store.id %>

  <div class="field">
    <%= form.label :埋め込みコード %>
    <%= form.text_area :insta_content, placeholder: "こちらにコピーしたinstagram埋め込みコードを添付してください。", class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit "投稿する" %>
  </div>

  <%= "※instagram埋め込みコードの取得方法がわからない場合はこちらを参照して下さい。" %> <%= link_to '➡︎(参照資料)', 'https://appllio.com/instagram-embed-code-post', target: :_blank %>

<% end %></br></br>

<h1>インスタグラム ブログ</h1>

<div class="container">
  <div class="row">
    <div class="instablog">
      <% @private_store_instablogs.each do |instablog| %>
        <%= instablog.insta_content.html_safe %>
        <% if current_owner.present? && current_owner.id == @private_store.owner_id %>
        <%= link_to "削除する", private_store_instablog_path(instablog), method: :delete, class: "btn btn-danger", data: { confirm: "投稿を削除してよろしいですか？" } %>
        <% end %>
        <hr>
      <% end %>
    </div>
  </div>
</div>
