<% provide(:title, "サブスクページ編集") %>

<h1 class="brand-color display-4 mt-6 mb-6">サブスクページ編集</h1>

<%= form_with(model: @subscription, url: owner_subscription_path(@subscription, owner_id: @owner.id), local: true) do |form| %>
  <%= render 'shared/error_messages' , object: @subscription %>

  <%= form.hidden_field :owner_id, :value => @owner.id %>

  <div class="field">
    <%= form.label :お店の名前 %> <span class="must">必須</span>
    <%= form.text_field :name, id: :subscription_name, placeholder: "例)", class: 'form-control form_border' %>
  </div>

  <div class="field">
    <%= form.label :商品タイトル %> <span class="must">必須</span>
    <%= form.text_field :title, id: :subscription_title, placeholder: "例)", class: 'form-control form_border' %>
  </div>

  <div class="field">
    <%= form.label :お店の住所 %> <span class="must">必須</span>
    <%= form.text_field :address, placeholder: "例)", class: 'form-control form_border' %>
  </div>

  <div class="field">
    <%= form.label :商品紹介 %> <span class="must">必須</span>
    <%= form.text_area :detail, id: :subscription_detail, placeholder: "例)", class: 'form-control form_border' %>
  </div>
  
  <div class="field">
    <%= form.label :"LINE@QRコード画像" %> <span class="must">必須</span><br/>
    <%= form.file_field :qr_image %>
  </div>

  <div class="field">
    <%= form.label :メインのお店紹介写真 %> <span class="must">必須</span><br/>
    <%= form.file_field :image_subscription, id: "file-input" %>
  </div>
  <div class="field">
    <%= form.label :お店紹介写真1 %><br/>
    <%= form.file_field :image_subscription2, id: :subscription_image_subscription %>
  </div>

  <div class="field">
    <%= form.label :お店紹介写真2 %><br/>
    <%= form.file_field :image_subscription3, id: :subscription_image_subscription %>
  </div>

  <div class="field">
    <%= form.label :お店紹介写真3 %><br/>
    <%= form.file_field :image_subscription4, id: :subscription_image_subscription %>
  </div>

  <div class="field">
    <%= form.label :お店紹介写真4 %><br/>
    <%= form.file_field :image_subscription5, id: :subscription_image_subscription %>
  </div>

  <div class="field">
    <%= form.label :店舗情報 %>
    <%= form.text_area :subscription_detail, id: :subscription_subscription_detail, placeholder: "例)", class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :サブのお店紹介写真 %><br/>
    <%= form.file_field :sub_image, id: :subscription_image_subscription %>
  </div>

  <div class="field">
    <%= form.label :サブのお店紹介写真2 %><br/>
    <%= form.file_field :sub_image2, id: :subscription_image_subscription %>
  </div>

  <div class="field">
    <%= form.label :サブのお店紹介写真3 %><br/>
    <%= form.file_field :sub_image3, id: :subscription_image_subscription %>
  </div>

  <div class="field">
    <%= form.label :サブのお店紹介写真4 %><br/>
    <%= form.file_field :sub_image4, id: :subscription_image_subscription %>
  </div>

  <div class="field">
    <%= form.label :サブのお店紹介写真5 %><br/>
    <%= form.file_field :sub_image5, id: :subscription_image_subscription %>
  </div>

  <div class="field">
    <%= form.label :サブのお店紹介写真6 %><br/>
    <%= form.file_field :sub_image6, id: :subscription_image_subscription %>
  </div>

  <div class="field">
    <%= form.label :サブのお店紹介写真7 %><br/>
    <%= form.file_field :sub_image7, id: :subscription_image_subscription %>
  </div>

  <div class="field">
    <%= form.label :サブのお店紹介写真8 %><br/>
    <%= form.file_field :sub_image8, id: :subscription_image_subscription %>
  </div>

  <div class="field">
    <%= form.label :サブのお店紹介写真9 %><br/>
    <%= form.file_field :sub_image9, id: :subscription_image_subscription %>
  </div>

  <div class="field">
    <%= form.label :サブのお店紹介写真10 %><br/>
    <%= form.file_field :sub_image10, id: :subscription_image_subscription %>
  </div>

  <div class="field">
    <%= form.label :サブのお店紹介写真11 %><br/>
    <%= form.file_field :sub_image11, id: :subscription_image_subscription %>
  </div>

  <div class="field">
    <%= form.label :サブのお店紹介写真12 %><br/>
    <%= form.file_field :sub_image12, id: :subscription_image_subscription %>
  </div>

  <%
=begin%>
 <div class="field">
    <%= form.label :category_id %> <span class="must">必須</span><br/>
    <%= select_tag "subscription[category_id]", options_from_collection_for_select(@categories, :id, :name),  { include_blank: "カテゴリを選んでください", class: 'form-control'} %>
  </div> 
<%
=end%>

  <div class="field">
    <%= form.label :category_id %> <span class="must">必須</span><br/>
    <%= form.collection_check_boxes(:categories, Category.all, :id, :name)  do |t| %>
      <% t.label   { t.check_box + t.text } %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :加入プラン %> <span class="must">必須</span><br/>
    <%= form.select :price, Subscription.prices.keys, { include_blank: "加入するプランを選択してください"}, class: 'form-control' %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<div class="mt-5 mb-8">
  <%= link_to '詳細', owner_subscription_path(@subscription, owner_id: @owner.id), class: "btn btn-brand" %>
  <%= link_to '一覧へ', owner_subscriptions_path, class: "btn btn-brand" %>
</div>
