<p id="notice"><%= notice %></p>

<h1>Subscriptions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Detail</th>
      <th>Image subscription</th>
      <th>Price</th>
      <th>Subscription detail</th>
      <th>Category name</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subscriptions.each do |subscription| %>
      <tr>
        <td><%= subscription.name %></td>
        <td><%= subscription.title %></td>
        <td><%= subscription.detail %></td>
        <td><%= subscription.image_subscription %></td>
        <td><%= subscription.price %></td>
        <td><%= subscription.subscription_detail %></td>
        <td><%= subscription.category_name %></td>
        <td><%= subscription.owner %></td>
        <td><%= link_to 'Show', subscription %></td>
        <td><%= link_to 'Edit', edit_subscription_path(subscription) %></td>
        <td><%= link_to 'Destroy', subscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subscription', new_subscription_path %>
