<% provide(:title, "サブスクページ一覧") %>
<p id="notice"><%= notice %></p>

<h1>サブスクページ一覧</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Detail</th>
      <th>Image subscription</th>
      <th>Price</th>
      <th>Subscription detail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subscriptions.each do |subscription| %>
      <tr>
        <td><%= subscription.name %></td>
        <td><%= subscription.title %></td>
        <td><%= subscription.detail %></td>
        <td><%= subscription.price %></td>
        <td><%= subscription.subscription_detail %></td>
        <td><%= link_to 'Show', owner_subscription_path(subscription, owner_id: @owner.id) %></td>
        <td><%= link_to 'Edit', edit_owner_subscription_path(subscription, owner_id: @owner.id) %></td>
        <td><%= link_to 'Destroy', owner_subscription_path(subscription, owner_id: @owner.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subscription', new_owner_subscription_path %>
