<% provide(:title, "サブスクページ一覧") %>
<p id="notice"><%= notice %></p>

<h1>サブスクページ一覧</h1>

<table>
  <thead>
      <div class="row">
        <div class="col-sm-2">
          お店の名前
        </div>

        <div class="col-sm-2">
          商品タイトル
        </div>

        <div class="col-sm-2">
          ジャンル
        </div>

        <div class="col-sm-2">
          カテゴリ
        </div>
  </thead>

  <tbody>
    <% @subscriptions.each do |subscription| %>
    <hr class="tool-bar">
      <div class="row">
        <div class="col-sm-2">
          <%= subscription.name %>
        </div>

        <div class="col-sm-2">
          <%= subscription.title %>
        </div>
        <div class="col-sm-2">
          <%= subscription.category_genre %>
        </div>

        <div class="col-sm-2">
          <%= subscription.category_name %>
        </div>

        <div class="col-sm-1 tool--item">
          <%= link_to "instagram投稿", new_instablog_path(subscription_id: subscription), class: "btn-gradient-3d-simple" %>
        </div>

        <div class="col-sm-1 tool--item">
          <%= link_to "詳細", owner_subscription_path(subscription, owner_id: @owner.id), class: "btn-gradient-3d-simple" %>
        </div>
        <div class="col-sm-1 tool--item">
          <%= link_to "編集", edit_owner_subscription_path(subscription, owner_id: @owner.id), class: "btn-gradient-3d-simple" %>
        </div>
        <div class="col-sm-1 btn--del">
          <%= link_to "削除", owner_subscription_path(subscription, owner_id: @owner.id), method: :delete, class: "btn btn-danger", data: { confirm: "お店を削除してよろしいですか？" } %>
        </div>
      </div>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subscription', new_owner_subscription_path %>
