<% provide(:title, "サブスクページ作成") %>

<h1>サブスクショップ開設</h1>

<%= form_with(model: @subscription, url: owner_subscriptions_path(@subscription, owner_id: @owner.id), local: true) do |form| %>
  <%= render 'shared/error_messages' , object: @subscription %>

  <%= form.hidden_field :owner_id, :value => @owner.id %>

  <div class="field">
    <%= form.label :お店の名前 %> <span class="must">必須</span><br/>
    <%= form.text_field :name, id: :subscription_name, placeholder: "例)", class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :お店の住所 %> <span class="must">必須</span>
    <%= form.text_field :address, placeholder: "例)", class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :お店紹介 %> <span class="must">必須</span><br/>
    <%= form.text_field :shop_introduction, placeholder: "例)", class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :タイトル %> <span class="must">必須</span><br/>
    <%= form.text_field :title, id: :subscription_title, placeholder: "例)", class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :商品紹介 %> <span class="must">必須</span><br/>
    <%= form.text_area :detail, id: :subscription_detail, placeholder: "例)", class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :メインお店紹介写真 %> <span class="must">必須</span><br/>
    <%= form.file_field :image_subscription, id: "file-input" %>
  </div>

  <div class="field">
    <%= form.label :"LINE@QRコード画像" %> <span class="must">必須</span><br/>
    <%= form.file_field :qr_image %>
  </div>

  <div class="field">
    <%= form.label :店舗情報 %> <span class="must">必須</span><br/>
    <%= form.text_area :subscription_detail, id: :subscription_subscription_detail, placeholder: "例)", class: 'form-control' %>
  </div>

 <%
=begin%>
 <div class="field">
    <%= form.label :category_id %> <span class="must">必須</span><br/>
    <%= select_tag "subscription[category_id]", options_from_collection_for_select(@categories, :id, :name),  { include_blank: "カテゴリを選んでください", class: 'form-control'} %>
  </div>  
<%
=end%>

  <div class="field">
    <%= form.label :カテゴリ %> <span class="must">必須</span><br/>
    <%= form.collection_check_boxes(:category_ids, Category.all, :id, :name, multiple: true)  do |t| %>
      <% t.label   { t.check_box + t.text } %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :price %> <span class="must">必須</span><br/>
    <%= form.select :price, Subscription.prices.keys, { include_blank: "加入するプランを選択してください"}, class: 'form-control' %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%= link_to 'トップ', root_path %> |

<%= link_to '一覧へ', owner_subscriptions_path %>
