<% provide(:title, "サブスクページ作成") %>

<h1>続いてサブスクページ作成</h1>

<%= form_with(model: @subscription, url: owner_shop_subscriptions_path(@subscription, owner_id: @owner.id, shop_id: @shop.id), local: true) do |form| %>
  <%= render 'shared/error_messages' , object: @subscription %>

  <%= form.hidden_field :owner_id, :value => @owner.id %>
  <%= form.hidden_field :shop_id, :value => @shop.id %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :subscription_name, placeholder: "例)", class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :subscription_title, placeholder: "例)", class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :detail %>
    <%= form.text_area :detail, id: :subscription_detail, placeholder: "例)", class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :メインの店舗写真 %>
    <%= form.file_field :image_subscription, id: :subscription_image_subscription %>
  </div>

  <div class="field">
    <%= form.label :お店紹介写真1 %>
    <%= form.file_field :image_subscription2, id: :subscription_image_subscription %>
  </div>

  <div class="field">
    <%= form.label :お店紹介写真2 %>
    <%= form.file_field :image_subscription3, id: :subscription_image_subscription %>
  </div>

  <div class="field">
    <%= form.label :お店紹介写真3 %>
    <%= form.file_field :image_subscription4, id: :subscription_image_subscription %>
  </div>

  <div class="field">
    <%= form.label :subscription_detail %>
    <%= form.text_area :subscription_detail, id: :subscription_subscription_detail, placeholder: "例)", class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :ジャンル %>
    <%= form.select :category_name, [["和食", "和食"],["洋食", "洋食"],["中華", "中華"],["イタリアン", "イタリアン"],["フレンチ", "フレンチ"],["ハワイアン", "ハワイアン"],["東南アジア料理", "東南アジア料理"],["韓国料理", "韓国料理"],["その他", "その他"]],:include_blank => true, id: :subscription_subscription_detail, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :カテゴリー %>
    <%= form.select :category_genre, [["カフェ", "カフェ"],["らーめん", "らーめん"],["パン屋", "パン屋"],["カレー", "カレー"],["居酒屋", "居酒屋"],["BAR", "BAR"],["ケーキ", "ケーキ"],["焼肉", "焼肉"],["定食屋", "定食屋"],["バーガー", "バーガー"],["レストラン", "レストラン"],["その他", "その他"]],:include_blank => true ,id: :subscription_subscription_detail, class:"form-control" %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', owner_shop_subscriptions_path %>
