<% provide(:title, "プラン説明") %>
<%= image_tag 'plan-explanation.png', Style: "height: 350px"%>
<div>
  <h1><%= link_to "3000円", suports_path, class: "btn btn-lg btn-default" %></h1>
</div>

<div>
  <h1><%= link_to "12000円", suports_path, class: "btn btn-lg btn-default" %></h1>
</div>

<div>
  <h1><%= link_to "18000円", suports_path, class: "btn btn-lg btn-default" %></h1>
</div>
<div>
  <h1><%= link_to "25000円", suports_path, class: "btn btn-lg btn-default" %></h1>
</div>

<div>
  <h1><%= link_to "50000円", contacts_path, class: "btn btn-lg btn-default" %></h1>
</div>

<div>
  <h1><%= link_to "100000円", contacts_path, class: "btn btn-lg btn-default" %></h1>
</div>




