<div class="container my-5">
  <section>
    <style>
    	.rgba-black-gradient {
      	background: linear-gradient(to top, rgba(226, 230, 224) 55%,rgba(0,0,0,0) 90%);
    	}
    </style>
    <div class="row">
      <div class="col-12">
        <div class="view zoom z-depth-1 rounded mb-4">
              <% if @subscription.image_subscription.present? %>
                <%= image_tag @subscription.image_subscription_url ,width: '100%', height: "300" %>
              <% else %>
                <p></p>
              <% end %>
            <div class="mask rgba-black-gradient d-md-flex align-items-end">
              <div class="text-bottom white-text p-4">
                <span class="badge badge-success"><%= @subscription.category_name %></span>
                <span class="badge badge-success"><%= @subscription.category_genre %></span>
                <h3 class="card-title font-weight-bold mt-2 mb-1"><%= @subscription.name %></h3>
                <p class="font-weight-normal mb-2">
                  <% if @subscription.owner.address.present? %>
                    住所：<%= @subscription.owner.address %>
                  <% else %>
                    <p></p>
                  <% end %> | 
                  <% if @subscription.owner.phone_number.present? %>
                    テイクアウトTEL：<%= @subscription.owner.phone_number %>
                  <% else %>
                    <p></p>
                  <% end %>
              <% if current_user.present? && current_user.session_id == "true" %>
                <%= link_to "チケットを使う", use_ticket_path(@owner, owner_id: @subscription.owner_id), class: "btn-gradient-3d-simple" %>
                <%= link_to "利用プラン変更", user_plans_path(current_user), class: "btn-gradient-3d-simple" %>
                <%= form_with(model: Ticket, url: "#", local: true, method: :patch) do |f| %>
                    <%= f.hidden_field :issue_ticket_day, :value => nil %>
                    <%= f.hidden_field :user_id, :value => current_user.id %>
                    <%= f.submit "サブスク解除", class: "btn btn-outline-success btn-rounded waves-effect" %>
                <% end %>
              <% elsif current_user.present? %>
                <%= link_to "サブスクを始める", user_plans_path(current_user.id), class: "btn-gradient-3d-simple" %>
              <% elsif current_owner.present? %>
                <%= link_to "サブスク編集", edit_owner_subscription_path(current_owner), class: "btn-gradient-3d-simple" %>
              <% elsif current_admin.present? %>
                <% if @subscription.recommend == true %>
                  <%= link_to "おすすめ店舗から削除する", edit_recommend_owner_subscription_path(current_admin), class: "btn-gradient-3d-simple" %>
                <% elsif @subscription.recommend == false %>
                  <%= link_to "おすすめ店舗に加える", edit_recommend_owner_subscription_path(current_admin), class: "btn-gradient-3d-simple" %>
                <% end %>
              <% else %>
                <%= link_to "ログインしてサブスクを開始", new_user_session_path, class: "btn-gradient-3d-simple" %>
                <%= link_to "サブスクを始める",user_plans_path(current_user.id), class: "btn-gradient-3d-simple" %>
             <% elsif !(signed_in?) %>
                <%= link_to "ログインしてサブスクを開始",new_user_session_path, class: "btn-gradient-3d-simple" %>
              <% end %>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>


<div class="container my-5 py-5 z-depth-1">
  <section class="text-center">
    <h3 class="font-weight-bold mb-5"><%= @subscription.name %> 店舗紹介（仮）</h3>
    <div class="row">
      <div class="col-lg-6">
        <div id="carousel-thumb1" class="carousel slide carousel-fade carousel-thumbnails mb-5 pb-4" data-ride="carousel">
          <div class="carousel-inner text-center text-md-left" role="listbox">
            <div class="carousel-item active">
              <% if @subscription.image_subscription2.present? %>
                  <%= image_tag @subscription.image_subscription2_url, class: "img-fluid" %>
              <% else %>
              <p></p>
              <% end %>
            </div>
            <div class="carousel-item">
              <% if @subscription.image_subscription3.present? %>
                  <%= image_tag @subscription.image_subscription3_url, class: "img-fluid" %>
              <% else %>
              <p></p>
              <% end %>
            </div>
            <div class="carousel-item">
              <% if @subscription.image_subscription4.present? %>
                  <%= image_tag @subscription.image_subscription4_url, class: "img-fluid" %>
              <% else %>
              <p></p>
              <% end %>
            </div>
            <div class="carousel-item">
              <% if @subscription.image_subscription5.present? %>
                  <%= image_tag @subscription.image_subscription5_url, class: "img-fluid" %>
              <% else %>
              <p></p>
              <% end %>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carousel-thumb1" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-thumb1" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="row mb-4">
          <div class="col-md-12">
            <div id="mdb-lightbox-ui"></div>
            <div class="mdb-lightbox no-margin">
             <div class="row">
              <figure class="col-md-4">
                <% if @subscription.sub_image.present? %>
                    <%= image_tag @subscription.sub_image_url, class: "img-fluid" %>
                <% else %>
                <p></p>
                <% end %>
              </figure>
              <figure class="col-md-4">
                <% if @subscription.sub_image2.present? %>
                    <%= image_tag @subscription.sub_image2_url, class: "img-fluid" %>
                <% else %>
                <p></p>
                <% end %>
              </figure>
              <figure class="col-md-4">
                <% if @subscription.sub_image3.present? %>
                    <%= image_tag @subscription.sub_image3_url, class: "img-fluid" %>
                <% else %>
                <p></p>
                <% end %>
              </figure>
              <figure class="col-md-4">
                <% if @subscription.sub_image4.present? %>
                    <%= image_tag @subscription.sub_image4_url, class: "img-fluid" %>
                <% else %>
                <p></p>
                <% end %>
              </figure>
              <figure class="col-md-4">
                <% if @subscription.sub_image5.present? %>
                    <%= image_tag @subscription.sub_image5_url, class: "img-fluid" %>
                <% else %>
                <p></p>
                <% end %>
              </figure>
              <figure class="col-md-4">
                <% if @subscription.sub_image6.present? %>
                    <%= image_tag @subscription.sub_image6_url, class: "img-fluid" %>
                <% else %>
                <p></p>
                <% end %>
              </figure>
              <figure class="col-md-4">
                <% if @subscription.sub_image7.present? %>
                    <%= image_tag @subscription.sub_image7_url, class: "img-fluid" %>
                <% else %>
                <p></p>
                <% end %>
              </figure>
              <figure class="col-md-4">
                <% if @subscription.sub_image8.present? %>
                    <%= image_tag @subscription.sub_image8_url, class: "img-fluid" %>
                <% else %>
                <p></p>
                <% end %>
              </figure>
              <figure class="col-md-4">
                <% if @subscription.sub_image9.present? %>
                    <%= image_tag @subscription.sub_image9_url, class: "img-fluid" %>
                <% else %>
                <p></p>
                <% end %>
              </figure>
              <figure class="col-md-4">
                <% if @subscription.sub_image10.present? %>
                    <%= image_tag @subscription.sub_image10_url, class: "img-fluid" %>
                <% else %>
                <p></p>
                <% end %>
              </figure>
              <figure class="col-md-4">
                <% if @subscription.sub_image11.present? %>
                    <%= image_tag @subscription.sub_image11_url, class: "img-fluid" %>
                <% else %>
                <p></p>
                <% end %>
              </figure>
              <figure class="col-md-4">
                <% if @subscription.sub_image12.present? %>
                    <%= image_tag @subscription.sub_image12_url, class: "img-fluid" %>
                <% else %>
                <p></p>
                <% end %>
              </figure>
            </div>
          </div>
        </div>
       </div>
      </div>

      <div class="col-lg-5 text-center text-md-left">

        <h2 class="h2-responsive text-center text-md-left product-name font-weight-bold dark-grey-text mb-1 ml-xl-0 ml-4"><%= @subscription.name %></h2>
        <span class="badge badge-danger product mb-4 ml-xl-0 ml-4">NEW</span>

        <h3 class="h3-responsive text-center text-md-left mb-5 ml-xl-0 ml-4">
          <span class="red-text font-weight-bold">
            <strong><%= @subscription.title %></strong>
          </span>
        </h3>

        <div class="font-weight-normal">

          <p class="ml-xl-0 ml-4">
            <strong>お店紹介: </strong><%= @subscription.shop_introduction %></p>
          <p class="ml-xl-0 ml-4">
            <strong>商品紹介: </strong><%= @subscription.detail %></p>
          <p class="ml-xl-0 ml-4">
            <strong>店舗情報: </strong><%= @subscription.subscription_detail %></p>
          <p class="ml-xl-0 ml-4">
            <strong>加入プラン: </strong><%= @subscription.price %></p>

          <%# google map %>
          <%= render "maps/subsc" %>

          <div class="mt-5">

            <div class="row text-center text-md-left">

              <div class="row mt-3 mb-4">
              <div class="col-md-12 text-center text-md-left text-md-right">
              <% if current_owner.present? %>
                <%= link_to "ブログ",instablog_path(@subscription.id), class: "btn btn-outline-success btn-rounded" %>
              <% elsif current_user.present? %>
                <%= link_to "ブログ",instablog_path(@subscription.id), class: "btn btn-outline-success btn-rounded" %>
                <%= link_to "レビューを投稿する",subscription_reviews_path(@subscription), class: "btn btn-outline-warning btn-rounded" %><br>
                  <% if @subscription.owner.address.present? %>
                    　　　住所：<%= @subscription.owner.address %>
                  <% else %>
                    <p>登録させていません。LINE@からお問い合わせください。</p>
                  <% end %><br>
                  <% if @subscription.owner.phone_number.present? %>
                    　　　テイクアウトTEL：<%= @subscription.owner.phone_number %>
                  <% else %>
                    <p>登録させていません。LINE@からお問い合わせください。</p>
                  <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<% if @subscription.qr_image.present? %>
  <%= image_tag @subscription.qr_image ,size: '150x150', alt: "QR_Code", class: "img-fluid" %>
  <p>LINE@招待コード</p>
<% else %>
  <p>お問い合わせ※QRコードが登録されていません</p>
<% end %>

<div class="container my-5 py-5 z-depth-1">
  <section class="text-center">
    <h3 class="font-weight-bold mb-5"><%= @subscription.name %> 店舗レビュー</h3>

            <div class="card-content">
              <div class="content">
                <div class="content average-score">
                  <div class="star-rating mb-2">
                    <div class="star-rating-front" style="width: <%= @subscription.review_score_percentage %>%">★★★★★</div>
                    <div class="star-rating-back">★★★★★</div>
                  </div>
                  <div class="average-score-display ml-3 pt-2">
                    平均 <%= @subscription.avg_score %>点（<%= @subscription.reviews.count %>件のレビュー）
                  </div>
                </div>
              </div>
            </div>

     <table class="table" style="table-layout:fixed;width:100%;">
       <thead class="thead-light">
         <tr>
           <th>コメント</th>
           <th>評価</th>
           <th>投稿日</th>
         </tr>
       </thead>

       <tbody>
        <% @reviews.each do |review| %>
         <tr>
           <td style="word-wrap:break-word;"><%= review.content %></td>
           <td><%= review.score %></td>
           <td><%= review.created_at.strftime('%Y/%m/%d') %></td>
         </tr>
        <% end %>
       </tbody>
     </table>
  </section>
</div>
