<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>中野様、
      <% if @new == "true" %>
        新しく加盟店舗の審査の申し込みがあります。
      <% else %>
        加盟店舗が編集されました。
      <% end %>
    </h1>
    <p>
      <% if @new == "true" %>
        加盟店舗 <%= @subscription.name %> が審査申し込みがありました。<br>
        お店URL<%= @subscription.site %> <br>
        加盟店舗の審査を完了させてください。<br>
        <%= @url %>
      <% else %>
        加盟店舗 <%= @subscription.name %> が編集されました。<br>
        お店URL<%= @subscription.site %> <br>
      <% end %>
    </p>
  </body>
</html>
