<% provide(:title, "サブスクページ編集") %>

<h1 class="brand-color display-4 mt-6 mb-6">サブスクページ編集</h1>

<%= form_with(model: @private_store, url: owner_private_store_path, local: true) do |form| %>
  <%= render 'shared/error_messages' , object: @private_store %>

  <%= form.hidden_field :owner_id, :value => @owner.id %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :private_store_name, placeholder: "例)", class: 'form-control form_border' %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :private_store_title, placeholder: "例)", class: 'form-control form_border' %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, placeholder: "例)", class: 'form-control form_border' %>
  </div>

  <div class="field">
    <%= form.label :detail %>
    <%= form.text_area :detail, id: :private_store_detail, placeholder: "例)", class: 'form-control form_border' %>
  </div>
  
  <div class="field">
    <%= form.label :qr_image %><br/>
    <%= form.file_field :qr_image %>
  </div>

  <div class="field">
    <%= form.label :image_private_store %> <span class="must">必須</span><br/>
    <%= form.file_field :image_private_store, id: "file-input" %>
  </div>
  <div class="field">
    <%= form.label :お店紹介写真1 %><br/>
    <%= form.file_field :image_private_store2, id: :private_store_image_private_store %>
  </div>

  <div class="field">
    <%= form.label :お店紹介写真2 %><br/>
    <%= form.file_field :image_private_store3, id: :private_store_image_private_store %>
  </div>

  <div class="field">
    <%= form.label :お店紹介写真3 %><br/>
    <%= form.file_field :image_private_store4, id: :private_store_image_private_store %>
  </div>

  <div class="field">
    <%= form.label :お店紹介写真4 %><br/>
    <%= form.file_field :image_private_store5, id: :private_store_image_private_store %>
  </div>

  <div class="field">
    <%= form.label :private_store_detail %>
    <%= form.text_area :private_store_detail, id: :private_store_private_store_detail, placeholder: "例)", class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :サブのお店紹介写真 %><br/>
    <%= form.file_field :sub_image, id: :private_store_image_private_store %>
  </div>

  <div class="field">
    <%= form.label :サブのお店紹介写真2 %><br/>
    <%= form.file_field :sub_image2, id: :private_store_image_private_store %>
  </div>

  <div class="field">
    <%= form.label :サブのお店紹介写真3 %><br/>
    <%= form.file_field :sub_image3, id: :private_store_image_private_store %>
  </div>

  <div class="field">
    <%= form.label :サブのお店紹介写真4 %><br/>
    <%= form.file_field :sub_image4, id: :private_store_image_private_store %>
  </div>

  <div class="field">
    <%= form.label :サブのお店紹介写真5 %><br/>
    <%= form.file_field :sub_image5, id: :private_store_image_private_store %>
  </div>

  <div class="field">
    <%= form.label :サブのお店紹介写真6 %><br/>
    <%= form.file_field :sub_image6, id: :private_store_image_private_store %>
  </div>

  <div class="field">
    <%= form.label :サブのお店紹介写真7 %><br/>
    <%= form.file_field :sub_image7, id: :private_store_image_private_store %>
  </div>

  <div class="field">
    <%= form.label :サブのお店紹介写真8 %><br/>
    <%= form.file_field :sub_image8, id: :private_store_image_private_store %>
  </div>

  <div class="field">
    <%= form.label :サブのお店紹介写真9 %><br/>
    <%= form.file_field :sub_image9, id: :private_store_image_private_store %>
  </div>

  <div class="field">
    <%= form.label :サブのお店紹介写真10 %><br/>
    <%= form.file_field :sub_image10, id: :private_store_image_private_store %>
  </div>

  <div class="field">
    <%= form.label :サブのお店紹介写真11 %><br/>
    <%= form.file_field :sub_image11, id: :private_store_image_private_store %>
  </div>

  <div class="field">
    <%= form.label :サブのお店紹介写真12 %><br/>
    <%= form.file_field :sub_image12, id: :private_store_image_private_store %>
  </div>

  <div class="field">
    <%= form.label :category_name %>
    <%= form.select :category_name, Subscription.category_names.keys, :include_blank => "カテゴリを選択してください", id: :private_store_private_store_detail, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :category_genre %><br/>
    <%= form.select :category_genre, Subscription.category_genres.keys, :include_blank => "ジャンルを選択してください", id: :private_store_private_store_detail, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :加入プラン %> <span class="must">必須</span><br/>
    <%= form.select :price, Subscription.prices.keys, { include_blank: "加入するプランを選択してください"}, class: 'form-control' %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<div class="mt-5 mb-8">
  <%= link_to '詳細', owner_private_store_path(@private_store, owner_id: @owner.id, shop_id: @private_store.shop_id), class: "btn btn-brand" %>
  <%= link_to '一覧へ', owner_private_stores_path, class: "btn btn-brand" %>
</div>
