<% provide(:title, "個人店サブスクページ一覧") %>
<p id="notice"><%= notice %></p>

<h1 class="brand-color display-4 mt-6 mb-6">個人店サブスクページ一覧</h1>

<table class="table mt-7">
  <thead>
      <div class="row">
        <div class="col-sm-2">
          お店の名前
        </div>

        <div class="col-sm-2">
          商品タイトル
        </div>

        <div class="col-sm-2">
          ジャンル
        </div>

        <div class="col-sm-2">
          カテゴリ
        </div>
  </thead>

  <tbody>
    <% @private_stores.each do |private_store| %>
    <hr class="tool-bar">
      <div class="row">
        <div class="col-sm-2">
          <%= private_store.name %>
        </div>

        <div class="col-sm-2">
          <%= private_store.title %>
        </div>
        <div class="col-sm-2">
          <%= private_store.category_genre %>
        </div>

        <div class="col-sm-2">
          <%= private_store.category_name %>
        </div>
        <% if current_admin.present? || current_owner.present? %>
          <div class="col-sm-1 tool--item">
            <%= link_to "instagram投稿", new_private_store_instablog_path(private_store_id: private_store), class: "btn-gradient-3d-simple" %>
          </div>
        <% end %>
        <div class="col-sm-1 tool--item">
          <%= link_to "詳細", owner_private_store_path(private_store, owner_id: @owner.id), class: "btn-gradient-3d-simple" %>
        </div>
        <% if current_admin.present? || current_owner.present? %>
          <div class="col-sm-1 tool--item">
            <%= link_to "編集", edit_owner_private_store_path(private_store, owner_id: @owner.id), class: "btn-gradient-3d-simple" %>
          </div>
          <div class="col-sm-1 btn--del">
            <%= link_to "削除", owner_private_store_path(private_store, owner_id: @owner.id), method: :delete, class: "btn btn-danger", data: { confirm: "お店を削除してよろしいですか？" } %>
          </div>
        <% end %>
      </div>
    <% end %>
  </tbody>
</table>

<% if current_owner.present? %>
  <%= link_to 'サブスクショップ開設', new_owner_private_store_path, class: "btn btn-lg btn-brand mb-8" %>
<% end %>
