<% provide(:title, "個人店舗サブスクページ作成") %>

<h1>個人店サブスクショップ審査</h1>

<%= form_with(model: @private_store, url: private_store_confirm_path(@private_store, owner_id: @owner.id), method: :post, multipart: true, local: true) do |form| %>
  <%= render 'shared/error_messages' , object: @private_store %>

  <div class="field">
    <%= form.label :お店の名前 %> <span class="must">必須</span><br/>
    <%= form.text_field :name, :required => true, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :サイトURL %> <span class="must">必須</span><br/>
    <%= form.text_field :site, :required => true, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :登録したい商品の金額 %> あとから変更できません、ご注意ください <span class="must">必須</span><br/>
    <%= form.number_field :price, :required => true, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit "個人店登録の審査申請" %>
  </div>
<% end %>
<%= link_to 'トップ', root_path %> |

<%= link_to '一覧へ', owner_private_stores_path(current_owner) %>
