<% provide(:title, "Edit") %>

<h1><%= @owner.name %>様の個人店審査</h1>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3 mx-auto">
    <%= form_with(model: @private_store, url: private_stores_private_store_judging_path(owner_id: @owner.id, id: @private_store), local: true) do |f| %>
      <%= f.hidden_field :owner_id, :value => @owner.id %>
      <%= f.hidden_field :situation, :value => "個人店申請中" %>
      <div class="field">
        <%= f.label :name %><%= f.text_field :name, value: @private_store.name, readonly: true, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :site %><%= f.text_field :site, value: @private_store.site, readonly: true, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :登録したい商品の金額 %><%= f.number_field :price, value: @private_store.price, readonly: true, class: 'form-control' %>
      </div>
      <div class="field mb-3">
        <%= f.submit "審査確認する", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>
  </div>
</div>
