<p id="notice"><%= notice %></p>

<h1>カテゴリからお店を探そう！</h1>

<h6 class="font-weight-bold pt-2"><%= link_to "全店のリスト", shop_list_categories_path %></h6>
<div class="container pt-5 my-5 z-depth-1">
  <section class="p-md-3 mx-md-5 text-lg-left">
    <h2 class="text-center font-weight-bold mb-4 pb-1"></h2>
    <p class="text-center lead mb-5 pb-2 text-muted"></p>
        <div class="category-list">
          <% @categories.each do |category| %><%# カテゴリーを全てeach %>
            <div class="category-item">
                <%= image_tag category.image_category, class: "image-menu" %>
              <div class="category-shop-btn">
                <%= link_to "#{category.name}", like_lunch_category_path(category.id) %>
              </div>
            </div>
          <% end %>
        </div>
  </section>
</div>
<div class="recommend-shop">
  <%= link_to shop_list_categories_path, class: "btn-gradient-radius-orange" do%>
  全てのお店のリストはこちら&nbsp;<i class="fas fa-chevron-circle-right"></i>
  <% end %>
</div>
