<p id="notice"><%= notice %></p>

<h1>カテゴリからお店を探そう！</h1>

<div class="recommend-shop">
  <%= link_to shop_list_categories_path, class: "btn-gradient-radius-orange" do%>
  全てのお店のリストはこちら&nbsp;<i class="fas fa-chevron-circle-right"></i>
  <% end %>
</div>

<%= form_with(model: @category, method: :get, local: true) do |f| %>
  <%= f.collection_select(:search, @categories_name, :name, :name, {include_blank: "キーワードからカテゴリーを検索してみよう", class: "form-control"}) %>
  <!--%= text_field_tag :search, "",placeholder: "キーワードからカテゴリーを検索してみよう" %--><%= submit_tag '検索', :name => nil %>
<% end %>
<div class="category-list">
  <% @categories.each do |category| %><%# カテゴリーを全てeach %>
    <div class="category-item">
      <%= link_to image_tag(category.image_category, :size => '280x200'), like_lunch_category_path(category), class: "image-menu" %>
      <div class="category-shop-btn">
        <%= link_to "#{category.name}", like_lunch_category_path(category) %>
      </div>
    </div>
  <% end %>
</div>
