<p id="notice"><%= notice %></p>

<h1>カテゴリからお店を探そう！</h1>
<div class="category_box" role="tablist">
  <span id="tabList01" aria-controls="tab01" aria-selected="true" role="tab" class="category_button" >
    和食
  </span>
  <span id="tabList02" aria-controls="tab02" aria-selected="false" role="tab" class="category_button">
    洋食
  </span>
  <span id="tabList03" aria-controls="tab03" aria-selected="false" role="tab" class="category_button">
    中華
  </span>
  <span id="tabList04" aria-controls="tab04" aria-selected="false" role="tab" class="category_button">
    その他
  </span>
  <span id="tabList05" aria-controls="tab05" aria-selected="false" role="tab" class="category_button">
    すべて
  </span>
</div>

<!-- 和食 -->
<section id="tab01" aria-hidden="false" aria-labelledby="tabList01" role="tabpanel">
  <div class="container pt-5 my-5 z-depth-1">
    <section class="p-md-3 mx-md-5 text-lg-left">
      <h2 class="text-center font-weight-bold mb-4 pb-1"></h2>
      <p class="text-center lead mb-5 pb-2 text-muted"></p>
      <div class="category-list">
        <div class="category-item">
          <%= image_tag @categories[0].image_category, class: "image-menu" %>
          <div class="category-shop-btn">
            <%= link_to "#{@categories[0].name}", like_lunch_category_path(@categories[0].id) %>
          </div>
        </div>
        <div class="category-item">
          <%= image_tag @categories[1].image_category, class: "image-menu" %>
          <div class="category-shop-btn">
            <%= link_to "#{@categories[1].name}", like_lunch_category_path(@categories[1].id) %>
          </div>
        </div>
        <div class="category-item">
          <%= image_tag @categories[5].image_category, class: "image-menu" %>
          <div class="category-shop-btn">
            <%= link_to "#{@categories[5].name}", like_lunch_category_path(@categories[5].id) %>
          </div>
	</div>
	<div class="category-item">
          <%= image_tag @categories[13].image_category, class: "image-menu" %>
          <div class="category-shop-btn">
            <%= link_to "#{@categories[13].name}", like_lunch_category_path(@categories[13].id) %>
          </div>
	</div>
	<div class="category-item">
          <%= image_tag @categories[19].image_category, class: "image-menu" %>
          <div class="category-shop-btn">
            <%= link_to "#{@categories[19].name}", like_lunch_category_path(@categories[19].id) %>
          </div>
	</div>
	<div class="category-item">
          <%= image_tag @categories[20].image_category, class: "image-menu" %>
          <div class="category-shop-btn">
            <%= link_to "#{@categories[20].name}", like_lunch_category_path(@categories[20].id) %>
          </div>
	</div>
	<div class="category-item">
          <%= image_tag @categories[22].image_category, class: "image-menu" %>
          <div class="category-shop-btn">
            <%= link_to "#{@categories[22].name}", like_lunch_category_path(@categories[22].id) %>
          </div>
	</div>
	<div class="category-item">
          <%= image_tag @categories[24].image_category, class: "image-menu" %>
          <div class="category-shop-btn">
            <%= link_to "#{@categories[24].name}", like_lunch_category_path(@categories[24].id) %>
          </div>
	</div>
	<div class="category-item">
          <%= image_tag @categories[25].image_category, class: "image-menu" %>
          <div class="category-shop-btn">
            <%= link_to "#{@categories[25].name}", like_lunch_category_path(@categories[25].id) %>
          </div>
	</div>
	<div class="category-item">
          <%= image_tag @categories[26].image_category, class: "image-menu" %>
          <div class="category-shop-btn">
            <%= link_to "#{@categories[26].name}", like_lunch_category_path(@categories[26].id) %>
          </div>
	</div>
      </div>
    </section>
  </div>
</section>

<!-- 洋食 -->
<section id="tab02" aria-hidden="true" aria-labelledby="tabList02" role="tabpanel">
  <div class="container pt-5 my-5 z-depth-1">
    <section class="p-md-3 mx-md-5 text-lg-left">
      <h2 class="text-center font-weight-bold mb-4 pb-1"></h2>
      <p class="text-center lead mb-5 pb-2 text-muted"></p>
      <div class="category-list">
        <div class="category-item">
          <%= image_tag @categories[3].image_category, class: "image-menu" %>
          <div class="category-shop-btn">
            <%= link_to "#{@categories[3].name}", like_lunch_category_path(@categories[3].id) %>
          </div>
        </div>
        <div class="category-item">
          <%= image_tag @categories[6].image_category, class: "image-menu" %>
          <div class="category-shop-btn">
            <%= link_to "#{@categories[6].name}", like_lunch_category_path(@categories[6].id) %>
          </div>
        </div>
        <div class="category-item">
          <%= image_tag @categories[8].image_category, class: "image-menu" %>
          <div class="category-shop-btn">
            <%= link_to "#{@categories[8].name}", like_lunch_category_path(@categories[8].id) %>
          </div>
	</div>
	<div class="category-item">
          <%= image_tag @categories[9].image_category, class: "image-menu" %>
          <div class="category-shop-btn">
            <%= link_to "#{@categories[9].name}", like_lunch_category_path(@categories[9].id) %>
          </div>
        </div>
	<div class="category-item">
          <%= image_tag @categories[14].image_category, class: "image-menu" %>
          <div class="category-shop-btn">
            <%= link_to "#{@categories[14].name}", like_lunch_category_path(@categories[14].id) %>
          </div>
	</div>
	<div class="category-item">
          <%= image_tag @categories[18].image_category, class: "image-menu" %>
          <div class="category-shop-btn">
            <%= link_to "#{@categories[18].name}", like_lunch_category_path(@categories[18].id) %>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>

<!-- 中華 -->
<section id="tab03" aria-hidden="true" aria-labelledby="tabList03" role="tabpanel">
  <div class="container pt-5 my-5 z-depth-1">
    <section class="p-md-3 mx-md-5 text-lg-left">
      <h2 class="text-center font-weight-bold mb-4 pb-1"></h2>
      <p class="text-center lead mb-5 pb-2 text-muted"></p>
      <div class="category-list">
        <div class="category-item">
          <%= image_tag @categories[2].image_category, class: "image-menu" %>
          <div class="category-shop-btn">
            <%= link_to "#{@categories[2].name}", like_lunch_category_path(@categories[2].id) %>
          </div>
        </div>
        <div class="category-item">
          <%= image_tag @categories[7].image_category, class: "image-menu" %>
          <div class="category-shop-btn">
            <%= link_to "#{@categories[7].name}", like_lunch_category_path(@categories[7].id) %>
          </div>
	</div>
        <div class="category-item">
          <%= image_tag @categories[10].image_category, class: "image-menu" %>
          <div class="category-shop-btn">
            <%= link_to "#{@categories[10].name}", like_lunch_category_path(@categories[10].id) %>
          </div>
        </div>
        <div class="category-item">
          <%= image_tag @categories[17].image_category, class: "image-menu" %>
          <div class="category-shop-btn">
            <%= link_to "#{@categories[17].name}", like_lunch_category_path(@categories[17].id) %>
          </div>
        </div>
        <div class="category-item">
          <%= image_tag @categories[23].image_category, class: "image-menu" %>
          <div class="category-shop-btn">
            <%= link_to "#{@categories[23].name}", like_lunch_category_path(@categories[23].id) %>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>

<!-- その他 -->
<section id="tab04" aria-hidden="true" aria-labelledby="tabList04" role="tabpanel">
  <div class="container pt-5 my-5 z-depth-1">
    <section class="p-md-3 mx-md-5 text-lg-left">
      <h2 class="text-center font-weight-bold mb-4 pb-1"></h2>
      <p class="text-center lead mb-5 pb-2 text-muted"></p>
      <div class="category-list">
        <div class="category-item">
          <%= image_tag @categories[4].image_category, class: "image-menu" %>
          <div class="category-shop-btn">
            <%= link_to "#{@categories[4].name}", like_lunch_category_path(@categories[4].id) %>
          </div>
        </div>
        <div class="category-item">
          <%= image_tag @categories[11].image_category, class: "image-menu" %>
          <div class="category-shop-btn">
            <%= link_to "#{@categories[11].name}", like_lunch_category_path(@categories[11].id) %>
          </div>
        </div>
        <div class="category-item">
          <%= image_tag @categories[12].image_category, class: "image-menu" %>
          <div class="category-shop-btn">
            <%= link_to "#{@categories[12].name}", like_lunch_category_path(@categories[12].id) %>
          </div>
        </div>
        <div class="category-item">
          <%= image_tag @categories[15].image_category, class: "image-menu" %>
          <div class="category-shop-btn">
            <%= link_to "#{@categories[15].name}", like_lunch_category_path(@categories[15].id) %>
          </div>
	</div>
	<div class="category-item">
          <%= image_tag @categories[16].image_category, class: "image-menu" %>
          <div class="category-shop-btn">
            <%= link_to "#{@categories[16].name}", like_lunch_category_path(@categories[16].id) %>
          </div>
	</div>
	<div class="category-item">
          <%= image_tag @categories[21].image_category, class: "image-menu" %>
          <div class="category-shop-btn">
            <%= link_to "#{@categories[21].name}", like_lunch_category_path(@categories[21].id) %>
          </div>
	</div>
	<div class="category-item">
          <%= image_tag @categories[27].image_category, class: "image-menu" %>
          <div class="category-shop-btn">
            <%= link_to "#{@categories[27].name}", like_lunch_category_path(@categories[27].id) %>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>

<!-- すべて -->
<section id="tab05" aria-hidden="true" aria-labelledby="tabList05" role="tabpanel">
  <div class="container pt-5 my-5 z-depth-1">
    <section class="p-md-3 mx-md-5 text-lg-left">
      <h2 class="text-center font-weight-bold mb-4 pb-1"></h2>
      <p class="text-center lead mb-5 pb-2 text-muted"></p>
      <div class="category-list">
        <% @categories.each do |category| %><%# カテゴリーを全てeach %>
          <div class="category-item">
            <%= image_tag category.image_category, class: "image-menu" %>
            <div class="category-shop-btn">
              <%= link_to "#{category.name}", like_lunch_category_path(category.id) %>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</section>

<h6 class="font-weight-bold pt-2"><%= link_to "全店のリスト", shop_list_categories_path %></h6>
<div class="recommend-shop">
  <%= link_to shop_list_categories_path, class: "btn-gradient-radius-orange" do%>
  全てのお店のリストはこちら&nbsp;<i class="fas fa-chevron-circle-right"></i>
  <% end %>
</div>
<script>
var tab = $('[role="tab"]'),
    tabpanel = $('[role="tabpanel"]');

  tab.stop().on('click', function() {
    var _self = $(this),
      select = _self.attr('aria-selected'),
      id = _self.attr('aria-controls'),
      id_body = $('#' + id);

    if (select === 'true') {
      return false;
    }

    tabpanel.attr('aria-hidden', true);
    id_body.attr('aria-hidden', false);

    tab.attr('aria-selected', false);
    _self.attr('aria-selected', true);
  });
</script>

