<%= form_with(model: image, local: true) do |form| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image_subscription %>
    <%= form.text_field :image_subscription, id: :image_image_subscription %>
  </div>

  <div class="field">
    <%= form.label :image_interview %>
    <%= form.text_field :image_interview, id: :image_image_interview %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment, id: :image_comment %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.datetime_select :time, id: :image_time %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
