<div class="container my-5">
  <section class="text-center dark-grey-text">
    <h1 class="font-weight-bold pb-2 mb-4">巡グルメ プラン</h1>
    <h5 class="text-muted w-responsive mx-auto mb-5">好きなプランを選択して下さい。</h5>
    <div class="row">

      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card">
          <div class="card-body subscription-bg">
            <h5 class="mb-4">サンプルプラン1</h5>
            <div class="d-flex justify-content-center">
              <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPf1fl_6GCRJUByMI9OSkIz02ssTC23yXJTQ&usqp=CAU"
              width="120"
              height="120"
            />
            </div>
            <h2 class="font-weight-bold my-4">￥3000/月</h2>
            <p class="grey-text">サンプルコメント</p>
            <% if !@plan.nil? && payment.amount_subtotal == plan.amount_subtotal %>
              <button style="pointer-events: none;" class="btn btn-outline-success btn-rounded waves-effect">すでに購入されています</button>
            <% else %>
              <%= link_to "詳細", confirm_owner_subscription_path(@subscription, owner_id: @subscription.owner_id, session: "price_1IHqKZJVVDWHDt8YzH9IwP9g"), class: "btn btn-outline-success btn-rounded waves-effect" %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <div class="card-body subscription-bg">
            <h5 class="mb-4">サンプルプラン2</h5>
            <div class="d-flex justify-content-center">
              <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPf1fl_6GCRJUByMI9OSkIz02ssTC23yXJTQ&usqp=CAU"
              width="120"
              height="120"
            />
            </div>
            <h2 class="font-weight-bold my-4">￥9,000/月</h2>
            <p>サンプルコメント</p>
            <% if !@plan.nil? && payment.amount_subtotal == plan.amount_subtotal %>
              <button style="pointer-events: none;" class="btn btn-outline-success btn-rounded waves-effect">すでに購入されています</button>
            <% else %>
              <%= link_to "詳細", confirm_owner_subscription_path(@subscription, owner_id: @subscription.owner_id, session: "price_1IHqKZJVVDWHDt8YwvinaRuP"), class: "btn btn-outline-success btn-rounded waves-effect" %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <div class="card-body subscription-bg">
            <h5 class="mb-4">サンプルプラン3</h5>
            <div class="d-flex justify-content-center">
              <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPf1fl_6GCRJUByMI9OSkIz02ssTC23yXJTQ&usqp=CAU"
              width="120"
              height="120"
            />
            </div>
            <h2 class="font-weight-bold my-4">￥11,000/月</h2>
            <p class="grey-text">サンプルコメント</p>
            <% if !@plan.nil? && payment.amount_subtotal == plan.amount_subtotal %>
              <button style="pointer-events: none;" class="btn btn-outline-success btn-rounded waves-effect">すでに購入されています</button>
            <% else %>
              <%= link_to "詳細", confirm_owner_subscription_path(@subscription, owner_id: @subscription.owner_id, session: "price_1IHqKZJVVDWHDt8Yr6bIlJtF"), class: "btn btn-outline-success btn-rounded waves-effect" %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card">
          <div class="card-body subscription-bg">
            <h5 class="mb-4">サンプルプラン4</h5>
            <div class="d-flex justify-content-center">
              <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPf1fl_6GCRJUByMI9OSkIz02ssTC23yXJTQ&usqp=CAU"
              width="120"
              height="120"
            />
            </div>
            <h2 class="font-weight-bold my-4">￥18,000/月</h2>
            <p class="grey-text">サンプルコメント</p>
            <% if @plan.present? && payment.amount_subtotal == plan.amount_subtotal %>
              <button style="pointer-events: none;" class="btn btn-outline-success btn-rounded waves-effect">すでに購入されています</button>
            <% else %>
              <%= link_to "詳細", confirm_owner_subscription_path(@subscription, owner_id: @subscription.owner_id, session: "price_1IHqKZJVVDWHDt8YALxpC3hm"), class: "btn btn-outline-success btn-rounded waves-effect" %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card">
          <div class="card-body subscription-bg">
            <h5 class="mb-4">サンプルプラン5</h5>
            <div class="d-flex justify-content-center">
              <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPf1fl_6GCRJUByMI9OSkIz02ssTC23yXJTQ&usqp=CAU"
              width="120"
              height="120"
            />
            </div>
            <h2 class="font-weight-bold my-4">￥25,000/月</h2>
            <p class="grey-text">サンプルコメント</p>
            <% if !@plan.nil? && payment.amount_subtotal == plan.amount_subtotal %>
              <button style="pointer-events: none;" class="btn btn-outline-success btn-rounded waves-effect">すでに購入されています</button>
            <% else %>
              <%= link_to "詳細", confirm_owner_subscription_path(@subscription, owner_id: @subscription.owner_id, session: "price_1IHqKZJVVDWHDt8YN927jkOM"), class: "btn btn-outline-success btn-rounded waves-effect" %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card">
          <div class="card-body subscription-bg">
            <h5 class="mb-4">サンプルプラン6</h5>
            <div class="d-flex justify-content-center">
              <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPf1fl_6GCRJUByMI9OSkIz02ssTC23yXJTQ&usqp=CAU"
              width="120"
              height="120"
            />
            </div>
            <h2 class="font-weight-bold my-4">￥50,000/月</h2>
            <p class="grey-text">サンプルコメント</p>
            <% if !@plan.nil? && payment.amount_subtotal == plan.amount_subtotal %>
              <button style="pointer-events: none;" class="btn btn-outline-success btn-rounded waves-effect">すでに購入されています</button>
            <% else %>
              <%= link_to "詳細", confirm_owner_subscription_path(@subscription, owner_id: @subscription.owner_id, session: "price_1IHqKZJVVDWHDt8Yeil5iK0J"), class: "btn btn-outline-success btn-rounded waves-effect" %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card">
          <div class="card-body subscription-bg">
            <h5 class="mb-4">サンプルプラン7</h5>
            <div class="d-flex justify-content-center">
              <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPf1fl_6GCRJUByMI9OSkIz02ssTC23yXJTQ&usqp=CAU"
              width="120"
              height="120"
            />
            </div>
            <h2 class="font-weight-bold my-4">￥100,000/月</h2>
            <p class="grey-text">サンプルコメント</p>
            <% if !@plan.nil? && payment.amount_subtotal == plan.amount_subtotal %>
              <button style="pointer-events: none;" class="btn btn-outline-success btn-rounded waves-effect">すでに購入されています</button>
            <% else %>
              <%= link_to "詳細", confirm_owner_subscription_path(@subscription, owner_id: @subscription.owner_id, session: "price_1IHqKZJVVDWHDt8YN3xy9DmF"), class: "btn btn-outline-success btn-rounded waves-effect" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
