<header>
<% if signed_in? %> <%# ログインしているかどうか %>
 <%
=begin%>
 <% if current_owner.present? %> <%# オーナーでログインしているかどうか %>
    <div class="container-fluid"> 
      <meta name=”viewport” content=”width=device-width,initial-scale=1.0″>
        <nav class="navbar navbar-expand-lg" style="background-color:transparent;">
          <%= link_to image_tag("gurumelogo.jpeg", :size =>'260x100'), "/", class:"gurumelogo" %>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-navi" aria-controls="bs-navi" aria-expanded="false"    aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-end" id="bs-navi">
            <ul class="navbar-nav">
              <li class="plan"><a href="plan_description">プラン</a></li>
              <li class="recommend"><a href="categories/recommend">おすすめ店舗</a></li>
              <li><%= link_to "ショップ開設", new_owner_subscription_path(current_owner) %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            </ul>
          </div>
        </nav>
      <%= video_tag("/videos/production ID_3977086 (3).mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>
    </div> 
 <% elsif current_user.present? %> <%# 会員ユーザーでログインしているかどうか %>
    <div class="container-fluid"> 
      <meta name=”viewport” content=”width=device-width,initial-scale=1.0″>
        <nav class="navbar navbar-expand-lg" style="background-color:transparent;">
          <%= link_to image_tag("gurumelogo.jpeg", :size =>'260x100'), "/", class:"gurumelogo" %>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-navi" aria-controls="bs-navi" aria-expanded="false"    aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-end" id="bs-navi">
            <ul class="navbar-nav">
              <li class="plan"><a href="plan_description">プラン</a></li>
              <li class="recommend"><a href="categories/recommend">おすすめ店舗</a></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
              <li><%= link_to "Myアカウント", owner_account_owner_path(current_owner) %></li>
            </ul>
          </div>
        </nav>
      <%= video_tag("/videos/production ID_3977086 (3).mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>
    </div> 
 <% elsif current_admin.present? %> <%# 管理者でログインしているかどうか %>
    <div class="container-fluid"> 
      <meta name=”viewport” content=”width=device-width,initial-scale=1.0″>
        <nav class="navbar navbar-expand-lg" style="background-color:transparent;">
          <%= link_to image_tag("gurumelogo.jpeg", :size =>'260x100'), "/", class:"gurumelogo" %>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-navi" aria-controls="bs-navi" aria-expanded="false"    aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-end" id="bs-navi">
            <ul class="navbar-nav">
              <li class="plan"><a href="plan_description">プラン</a></li>
              <li class="recommend"><a href="categories/recommend">おすすめ店舗</a></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
              <li><%= link_to "会員者様一覧", users_path %></li>
            </ul>
          </div>
        </nav>
      <%= video_tag("/videos/production ID_3977086 (3).mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>
    </div>
  <% end %> 
 
<%
=end%>

<%# else %> <%# ログインしてない %>
  <div class="container-fluid"> 
    <meta name=”viewport” content=”width=device-width,initial-scale=1.0″>
      <nav class="navbar navbar-expand-lg" style="background-color:transparent;">
        <%= link_to image_tag("gurumelogo.jpeg", :size =>'260x100'), "/", class:"gurumelogo" %>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-navi" aria-controls="bs-navi" aria-expanded="false"    aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="bs-navi">
          <ul class="navbar-nav">
            <li class="plan"><a href="plan_description">プラン</a></li>
            <li class="recommend"><a href="categories/recommend">おすすめ店舗</a></li>
            <li class="login"><%= link_to "ログイン", new_user_session_path %></li>
            <li class="new-user"><%= link_to "会員登録", new_user_registration_path %></li>
          </ul>
        </div>
      </nav>
    <%= video_tag("/videos/production ID_3977086 (3).mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>
  </div>
<% end %>
    <h1 class="text-center">巡グルメで始めるサブスクランチ。</h1>
    <p class="text-sub-center lead grey-text mx-auto mb-5">好きなランチを好きな場所で毎日食べ歩こう!</p>
</header>
