<header>
    <nav class="navbar navbar-expand-md  navbar-light" style="background-color:#f5c1d2;">
     <%= link_to "巡グルメ", root_path, id: "logo" %>
      <ul class="collapse navbar-collapse justify-content-end">
        <div class="dropdown" aria-labelledby="dropdownMenuButton">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="dropdown-menu">
            <% if signed_in? %> <%# ログインしているかどうか %>
              <% if current_owner.present? %> <%# オーナーでログインしているかどうか %>
                <li><a href="#home">ホーム</a></li>
                <li><a href="#category">カテゴリ</a></li>
                <li><a href="#plan">プラン</a></li>
                <li><a href="#recommend">おすすめ店舗</a></li>
                <li><%= link_to "ショップ開設", new_owner_shop_path(current_owner) %></li>
                <li><a href="#interview">経営者様インタビュー</a></li>
                <li><a href="#service">サービス</a></li>
                <li><a href="#inquiry">お問い合わせ</a></li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    メニュー <b class="caret"></b>
                  </a>
                  <ul>
                    <li><%= link_to "Myアカウント", owner_account_owner_path(current_owner) %></li>
                    <li><%= link_to "会員者様一覧", users_path %></li>
                    <li><%= link_to "サブスクnews", blogs_path %></li>
                    <li><%= link_to "利用者様レビュー", reviews_list_path %></li>
                    <li><%= link_to "経営者様インタビュー", interviews_path %></li>
                    <li><%= link_to "よくある質問", questions_path %></li>
                    <li><%= link_to "お問い合わせ", static_pages_discussion_path %></li>
                    <li><%= link_to "ログアウト", destroy_owner_session_path, method: :delete %></li>
                  </ul>
              </li>
              <% elsif current_user.present? %> <%# 会員ユーザーでログインしているかどうか %>
                <li><a href="#home">ホーム</a></li>
                <li><a href="#category">カテゴリ</a></li>
                <li><a href="#plan">プラン</a></li>
                <li><a href="#recommend">おすすめ店舗</a></li>
                <li><a href="#interview">オーナーインタビュー</a></li>
                <li><a href="#service">サービス</a></li>
                <li><a href="#inquiry">お問い合わせ</a></li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    メニュー <b class="caret"></b>
                  </a>
                  <ul>
                    <li><%= link_to "Myアカウント", user_account_user_path(current_user) %></li>
                    <li><%= link_to "サブスクnews", blogs_path %></li>
                    <li><%= link_to "利用者様レビュー", user_reviews_path(current_user) %></li>
                    <li><%= link_to "経営者様インタビュー", interviews_path %></li>
                    <li><%= link_to "お問い合わせ", static_pages_discussion_path %></li>
                    <li><%= link_to "よくある質問", questions_path %></li>
                    <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                  </ul>
              </li>
              <% elsif current_admin.present? %> <%# 管理者でログインしているかどうか %>
                <li><a href="#home">ホーム</a></li>
                <li><a href="#category">カテゴリ</a></li>
                <li><a href="#plan">プラン</a></li>
                <li><a href="#recommend">おすすめ店舗</a></li>
                <li><a href="#interview">経営者様インタビュー</a></li>
                <li><a href="#service">サービス</a></li>
                <li><a href="#inquiry">お問い合わせ</a></li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    メニュー <b class="caret"></b>
                  </a>
                  <ul>
                    <li><%= link_to "Myアカウント", admin_account_admin_path(current_admin) %></li>
                    <li><%= link_to "サブスクnews", blogs_path %></li>
                    <li><%= link_to "利用者様レビュー", reviews_list_path %></li>
                    <li><%= link_to "経営者様インタビュー", interviews_path %></li>
                    <li><%= link_to "会員者様一覧", users_path %></li>
                    <li><%= link_to "経営者様一覧", owners_path %></li>
                    <li><%= link_to "よくある質問", questions_path %></li>
                    <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
                  </ul>
              </li>
              <% end %>
            <% else %> <%# ログインしてない %>
                <li><a href="#home">ホーム</a></li>
                <li><a href="#category">カテゴリ</a></li>
                <li><a href="#plan">プラン</a></li>
                <li><a href="#recommend">おすすめ店舗</a></li>
                <li><a href="#interview">経営者様インタビュー</a></li>
                <li><a href="#service">サービス</a></li>
                <li><a href="#inquiry">お問い合わせ</a></li>
              <li class="dropdown">
                  <a class="btn btn-secondary dropdown-toggle">
                    会員登録<b class="caret"></b>
                  </a>
                  <ul>
                    <li><%= link_to "会員登録", new_user_registration_path %></li>
                    <li><%= link_to "ログイン", new_user_session_path %></li>
                    <li><%= link_to "サブスクnews", blogs_path %></li>
                    <li><%= link_to "利用者様レビュー", reviews_list_path %></li>
                    <li><%= link_to "経営者様インタビュー", interviews_path %></li>
                    <li><%= link_to "よくある質問", questions_path %></li>
                  <ul>
              </li>
            <% end %>
      </div>
      </div>
    </ul>
    </nav>
</header>