<% provide(:title, "会員登録") %>
<p id="notice"><%= notice %></p>

<h1 class="new-title index-title-post">新規会員登録</h1>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= form_for(resource, as: resource_name, url: users_sign_up_confirm_path(resource)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :name %> <span class="must">必須</span><br/>
        <%= f.text_field :name, :required => true, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :email %><span class="must">必須</span><br/>
        <%= f.email_field :email, :required => true, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :password %><span class="must">必須</span>
        <% if @minimum_password_length %>
        <em>(最小<%= @minimum_password_length %>文字)</em>
        <% end %><br/>
        <%= f.password_field :password, :required => true,autocomplete: "new-password", class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><span class="must">必須</span><br/>
        <%= f.password_field :password_confirmation, :required => true,autocomplete: "new-password", class: 'form-control' %>
      </div>

      <div class="actions sinup">
        <%= f.submit "登録", class: "btn btn-primary btn-block btn-login" %>
      </div>
    <% end %>
    <h2><span>------------</span>SNSアカウントでログイン<span>------------</span></h2>
    <div class="box-facebook"></br>
        <%= link_to user_facebook_omniauth_authorize_path do %>
        <i class="fa fa-facebook-official"></i> Facebookでログイン
        <% end %>
    </div>

    <div class="box-line"></br>
        <%= link_to user_line_omniauth_authorize_path do %>
        <i class="fa fa-mobile"></i> LINEでログイン
        <% end %>
    </div>

    <div class="box-google"></br>
        <%= link_to user_google_oauth2_omniauth_authorize_path do %>
        <i class="fa fa-google"></i> Googleでログイン
        <% end %>
    </div>

    <div class="box-twitter"></br>
        <%= link_to user_twitter_omniauth_authorize_path do %>
        <i class="fa fa-twitter"></i> Twitterでログイン
        <% end %>
    </div>

    <div class="box-instagram"></br>
        <%= link_to user_instagram_omniauth_authorize_path do %>
        <i class="fa fa-instagram"></i> Instagramでログイン
        <% end %>
    </div>
  </div>
</div>
